.single-product {
  &.single {
    .product {
      &.product_cat-bags-internal {
        // width: 100%;
        flex-direction: column;

        .entry-summary {
          &.summary {
            margin: 0 0 $unit-6;
          }

          .price {
            width: 100%;
            text-align: left;
          }

          .cart {
            position: relative;
            margin: 0;
            padding: 0;
          }

          .variations {
            @include border("top", $light-grey, 1px);
            @include border("bottom", $light-grey, 1px);
            margin: $unit-2 0;

            tr {
              display: flex;
              align-items: center;
            }

            td {
              &.label {
                padding-right: $unit-2;
              }
              &.value {
                margin: 0;
              }
            }

            &-header {
              @include knockout(45px, 400);
              margin: $unit-2 0 0;
              padding: 0;
            }
          }

          .reset_variations {
            display: none !important;
          }

          .value {
            position: relative;
          }
        }

        .single_variation_wrap {
          width: 100%;

          .in-stock {
            display: none;
          }
        }

        .woocommerce-variation-add-to-cart {
          display: flex;
          width: 100%;
          padding: 0 0 $unit-5;
          margin: 0;

          .button {
            width: 80%;
          }

          .quantity {
            width: 20%;
            margin-right: $unit-2;

            > label {
              @include sentinel(24px, 300);
              padding-bottom: $unit-2;
              color: $grey;
              display: block;
            }
          }

          .quantity {
            text-align: left;
          }
        }
      }
    }

    .product_meta {
      padding: $unit-2 $unit-2 0 0;

      .posted_in {
        margin-bottom: $unit-2;
      }
    }

    .wc-tabs {
      display: none;
    }

    .woocommerce-tabs {
      border-top: $grey-border;
      padding: $unit-2;
    }

    .woocommerce-Tabs-panel--description {
      h2 {
        @include knockout(45px, 400);
        margin: 0 0 $unit-2;
      }

      p {
        margin: 0;
      }
    }
  }
}
