.single-product {
  &.single {

    .product {
      &.product_cat-bags {
        width: 100%;
        flex-direction: column;

        .entry-summary {
          &.summary {
            margin: 0;
          }

          .price {
            width: 100%;
            text-align: left;
          }

          .cart {
            position: relative;
            margin: 0;
            padding: 0;
          }

          .swatch-control {
            text-align: center;
            // max-width: 300px;
            margin: $unit-2 0 0;
          }

          .swatch-wrapper {
            padding-left: 0;
            &.selected {
              padding: 4px;
              padding-left: 0;
              padding-right: 8px;
            }
          }

          .variations {

            &-header {
              @include knockout(45px, 400);
              margin: $unit-2 0 0;
              padding: 0;
            }

          }

          .reset_variations {
            font-size: 18px;
            padding: 0;
            margin: 0;
            position: absolute;
            top: -20px;
            right: 0;
          }

          .value {
            position: relative;
          }

        }

        .single_variation_wrap {
          width: 100%;
        }

        .woocommerce-variation-add-to-cart {
          display: flex;
          width: 100%;
          padding: 0 $unit-2 $unit-5;
          margin: 0;

          .button {
            width: 80%;
          }

          .quantity {
            width: 20%;
            margin-right: $unit-2;

            > label {
              @include knockout(45px, 400);
              display: block;
            }

          }

        }

      }
    }

    .product_meta {
      padding: $unit-2 $unit-2 0;
      .posted_in {
        margin-bottom: $unit-2;
        a {
          margin-left: $unit-2;
        }
      }
    }

    .wc-tabs {
      display: none;
    }

    .woocommerce-tabs {
      border-top: $grey-border;
      padding: $unit-2;
    }

    .woocommerce-Tabs-panel--description {
      h2 {
        @include knockout(45px, 400);
        margin: 0 0 $unit-2;
      }

      p {
        margin: 0;
      }
    }

  }
}
