.kitting-page {
  padding-bottom: 30px;

  > .columns {
    &:only-child {
      justify-content: center;
    }
  }

  .hero {
    &-product {
      &-bag-image {
        // max-width: 400px;
        margin: 0 0 0 auto;
      }
      &.bg-white {
        background-color: transparent;
      }
      &-copy {
        display: none;
      }
    }
  }
}
