.search-results {
  #content {
    background-color: $white;
  }

  .hero-title-copy {
    background-color: $white;
  }

  &-container {
    padding-top: 58px;
  }

  .back-to-top {
    border: 0;
  }
}
