.search-results {
  #content {
    background-color: $white;
  }

  .related {
    &.products {
      display: none;
    }
  }

  .hero-title-copy {
    background-color: $white;
  }

  &-container {
    padding-top: 14px;
  }

  .back-to-top {
    border: 0;
  }
}
