{% if stepNavigation is defined %}

  <div class="back-to-top text-center bg-grey">
    <div class="max-width-xl">
      <div class="columns">

        {% if stepNavigation.nextStep != '' %}
          <div class="column text-right col-7 col-xs-12 col-sm-12 col-md-12 back-to-top-column">
          {% else %}
            <div class="column centered text-center col-12 col-xs-12 col-sm-12 col-md-12 back-to-top-column">
            {% endif %}
            <div id="back-to-top" class="btn btn-lg">
              <span class="back-to-top-backt">Back to Top</span>
              <i class="fal fa-chevron-circle-up"></i>
            </div>
          </div>

          {% if stepNavigation.nextStep %}

            <div class="column text-right  col-xs-12 col-sm-12 col-md-12 next-step-column">
              <a class="btn btn-primary  btn-lg" href="{{stepNavigation.nextStep}}" title="">
                <span class="back-to-top-next">
                  {{stepNavigation.next}}
                </span>
                <i class="fal fa-chevron-circle-right"></i>
              </a>
            </div>

          {% endif %}

        </div>
      </div>

    </div>

  {% endif %}