<div class="back-to-top text-center bg-grey">
  <div class="max-width-xl">
    <div class="columns">

      <div class="column col-3 col-xs-12 col-sm-12 col-md-12 col-lg-6 col-xl-3">
        <div id="back-to-top" class="btn btn-lg">
          <span class="back-to-top-backt">Back to Top</span>
          <i class="fal fa-chevron-circle-up"></i>
        </div>
      </div>

      <div class="column col-4 col-xs-8 col-sm-8 col-md-8 col-lg-3 col-xl-4 col-mx-auto text-right">
        <a class="btn btn-primary  btn-lg" href="" title="">
          <span class="back-to-top-next">
            Next: Customize Kit
          </span>
          <i class="fal fa-chevron-circle-right"></i>
        </a>
      </div>

    </div>
  </div>

</div>