<div class="no-bag-needed">

  <div class="container">
    <div class="columns">
      <div class="column col-12">
        <h1 class="no-bag-header">NO THANKS, I DON'T NEED A BAG</h1>
        <a class="btn btn-lg btn-lg btn-primary" href="/shop" title="Shop for products">
          Shop Products
        </a>

      </div>
    </div>

  </div>

</div>