<div class="step-navigation">
    <div class="max-width-1200">
        <div class="columns">

            <div class="column col-4 col-mr-auto text-left">
                <a class="btn btn-lg btn-no-border" href="" title="">
                    <i class="fal fa-chevron-circle-left"></i>
                    <span class="step-navigation-text">
                        Start With a Kit
                    </span>
                </a>
            </div>

            <div class="column col-4 col-ml-auto text-right">
                <a class="btn btn-primary btn-lg" href="" title="">
                    <span class="step-navigation-text">
                        Next: Customize Kit
                    </span>
                    <i class="fal fa-chevron-circle-right"></i>
                </a>
            </div>

        </div>
    </div>
</div>