{% if noBagHero is defined %}

  <div class="bg-gray border-top-grey">
    <div class="hero hero-no-bag">
      <div class="columns">
        <div class="column col-12">
          <h1 class="hero-header">{{noBagHero.header}}</h1>
        </div>
        <div class="column col-12">
          <a href="{{noBagHero.url}}" class="btn btn-lg btn-primary">{{noBagHero.actionText}}</a>
        </div>
      </div>
    </div>
  </div>

{% endif %}