<div class="shipping-tile">

  <img class="shipping-tile-image" src="{{shipping.image}}" alt=""/>
  <h2 class="shipping-tile-header">{{shipping.header}}</h2>
  <p class="shipping-tile-copy">{{shipping.copy}}</p>

  <button class="btn btn-block btn-lg btn-primary">Choose
    <i class="far fa-calendar"></i>
  </button>

</div>