{% if products is defined %}

  <div class="benlido-compact-product-list benlido-compact-product-options">

    <h3 class="benlido-compact-product-instruction-header">
      <strong>STEP ONE:</strong>
      Choose your Bag
    </h3>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for item in products %}
          {% include 'common/hero/hero-product-compact.twig' with { items: item } %}
        {% endfor %}

        <div class="benlido-compact-product-list-item benlido-compact-product-list-no-item swiper-slide" data-product-id="99999999">
          <div class="hero-product-bag-image-container">
            <img class="hero-product-bag-image" src="{{empty.icon}}"/>
          </div>
          <h1 class="hero-product-header">{{empty.header}}</h1>
          <p class="hero-product-swatch-count">{{empty.subheader}}</p>
        </div>

      </div>

      <!-- Add Arrows -->
      <div class="swiper-button-next">
        <i class="far fa-chevron-circle-right"></i>
      </div>

      <div class="swiper-button-prev">
        <i class="far fa-chevron-circle-left"></i>
      </div>
    </div>

  </div>

  <div class="benlido-compact-product-list benlido-compact-product-list-detail">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for item in products %}
          {% include 'common/hero/hero-product-compact-detail.twig' with { items: item } %}
        {% endfor %}

        {% if empty %}
          {% include 'common/hero/hero-product-compact-detail.twig' with { items: empty } %}
        {% endif %}

      </div>
    </div>
  </div>

  <div class="benlido-compact-product-list benlido-compact-product-styles-list">

    <h3 class="benlido-compact-product-instruction-header">
      <strong>STEP TWO:</strong>
      Choose your Travel Style:
    </h3>

    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for item in kits %}
          {% include 'common/hero/hero-styles-list.twig' with { items: item } %}
        {% endfor %}
      </div>

      <!-- Add Arrows -->
      <div class="swiper-button-next">
        <i class="far fa-chevron-circle-right"></i>
      </div>

      <div class="swiper-button-prev">
        <i class="far fa-chevron-circle-left"></i>
      </div>
    </div>

  </div>

  <div class="benlido-compact-product-list benlido-compact-product-styles-list-detail">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for item in kits %}
          {% include 'common/hero/hero-product-style-detail.twig' with { items: item } %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endif %}