<div class="hero hero-home">

    <div class="columns">

        <div class="column col-5 col-sm-12 col-md-8 col-xl-6 col-mx-auto">

            <h1 class="hero-header">Wander Well</h1>
            <p class="hero-copy">
                Your favorite brands, in the right sizes, at the best prices—delivered to your door, ready to travel. You're good to go with Ben Lido.
            </p>

            <div class="hero-action-buttons columns">
                <div class="column col-sm-12 col-lg-6">
                    <a href="/build-a-kit" class="btn btn-primary btn-lg btn-block">Buiild your own kit</a>
                </div>
                <div class="column col-sm-12 col-lg-6">
                    <a href="/pick-a-kit" class="btn btn-primary btn-lg btn-block">Start with a prebuilt kit</a>
                </div>
            </div>

        </div>

        <div class="column col-5 col-md-12 col-xl-5 col-ml-auto">
            <div class="hero-image-container">
                <img class="hero-image hero-image" src="/images/home-hero@2x.png" alt="Home Page Hero Image"/>
            </div>
        </div>
    </div>

</div>