{% extends "../layout/document.twig" %}

{% block content %}

  <div class="max-width-1200">
    {% include 'common/hero/home-hero.twig' %}
  </div>

  {% if not homePageHeroes %}
    {% set homePageHeroes = [
        {
            header: 'How it Works',
            copy: "Premium, personalized bags packed with the products you love, delivered anywhere, with easy subscription reorders.",
            image: '/images/hero-1.png'
        }, {
            header: 'The Brands You Love',
            copy: "Unlike the aisle at your local retailer, if you want it, we'll have it - and we'll deliver it - right to your doorstep.",
            image: '/images/hero-2.png'
        }
      ]
    %}
  {% endif %}
  <div class="bg-grey">
    <div class="max-width-1200">
      {% include 'common/hero/hero.twig', with { homePageHeroes: homePageHeroes }%}
    </div>
  </div>

{% endblock %}