{% extends "../layout/document.twig" %}

{% block content %}

  {% include 'common/step-navigation.twig' %}

  {% if not heroProduct %}
    {% set heroProduct = [
      {
        triangleBackground: true,
        logo: '/images/kipling.png',
        header: 'AIDEN BY KIPLING',
        copy: 'The Aiden is a lightweight travel kit is brought to you by Kipling, and is the perfect tow on-the-go  companion. Customize your essential products below and make the kit uniquely yours.',
        picked: true,
        href: '/product/123',
        image: '/images/product-image.png',
        bagURL: '/product/123'
      }
    ]%}
  {% endif %}

  {% if not products %}
    {% set products = [
        {
          categoryID: '123',
          categoryTitle: 'Category Name 1',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45'
        },
        
        {
          categoryID: '123',
          categoryTitle: 'Category Name 2',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45'
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 3',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45'
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 4',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45'
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 5',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45'
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 6',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45'
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 1',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45'
        },
        
        {
          categoryID: '123',
          categoryTitle: 'Category Name 2',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45'
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 3',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45'
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 4',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45'
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 5',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45'
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 6',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45'
        }
      ]%}
  {% endif %}

  <div class="bg-grey">

    <div class="max-width-1200">

      {% include 'common/hero/hero-product-list.twig', with { products: heroProduct } %}

      <h1>CUSTOMIZE YOUR KIT</h1>
      <h4>Remove or swap products to make this kit your own</h4>

      {% if products is defined%}
        <div class="columns">

          {% for product in products %}
            <div class="column col-3 col-xs-12 col-sm-6 col-md-6 col-lg-4">
              {% include 'common/product/product-tile.twig', with {product: product } %}
            </div>
          {% endfor %}

          <div class="column col-3 col-xs-12 col-sm-6 col-md-6 col-lg-4">
            {% include 'common/product/add-empty-product.twig', with {product: product } %}
          </div>

        </div>
      {% endif %}

    </div>

  </div>

  {% include 'common/back-to-top.twig' %}

{% endblock %}