{% extends "../layout/document.twig" %}

{% block content %}

    {% if not stepNavigation %}
        {% set stepNavigation =
      {
        previousStep: '/pick-a-kit',
        nextStep: '/shipping-schedule'
      }
    %}
    {% endif %}

    {% include 'common/step-navigation.twig' with {stepNavigation: stepNavigation} %}

    {% if not heroProduct %}
        {% set heroProduct = [
      {
        triangleBackground: true,
        logo: '/images/kipling.png',
        header: 'AIDEN BY KIPLING',
        copy: 'The Aiden is a lightweight travel kit is brought to you by Kipling, and is the perfect tow on-the-go  companion. Customize your essential products below and make the kit uniquely yours.',
        picked: true,
        href: '/product/123',
        image: '/images/product-image.png',
        bagURL: '/product/123'
      }
    ]%}
    {% endif %}

    {% if not products %}
        {% set products = [
        {
          categoryID: '123',
          categoryTitle: 'Category Name 2',
          sku: 'aaa',
          name: 'Product name',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: true
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 3',
          sku: 'bbb',
          name: 'Product name',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: true
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 4',
          sku: 'ccc',
          name: 'Product name',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: true
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 5',
          sku: 'ddd',
          name: 'Product name',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: true
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 6',
          sku: 'eee',
          name: 'Product name',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: true
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 1',
          sku: 'fff',
          name: 'Product name',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: true
        },
        
        {
          categoryID: '123',
          categoryTitle: 'Category Name 2',
          sku: 'ggg',
          name: 'Product name',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: true
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 3',
          sku: 'hhh',
          name: 'Product name',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: true
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 4',
          sku: 'iii',
          name: 'Product name',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: true
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 5',
          sku: 'jjj',
          name: 'Product name',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: true
        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 6',
          sku: 'kkk',
          name: 'Product name',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: true
        }
      ]%}
    {% endif %}

    {% if not categoryHeader %}
        {% set categoryHeader = [
      {
        text: 'CUSTOMIZE YOUR KIT',
        subText: 'Remove or swap products to make this kit your own'
      }
    ]%}
    {% endif %}

    {% if not kitID %}
      {% set kitID = 999 %}
    {% endif %}

    <input type="hidden" id="bl_kit_id" name="bl_kit_id" value="{{kitID}}" />
    <div class="bg-white">
        <div class="max-width-xl">

            {% include 'common/hero/hero-product-list.twig' with { products: heroProduct } %}
            {% include 'common/category-header.twig' with { categoryHeader } %}

            {% if products is defined%}
                <div class="columns">

                    {% if products.length >= 16%}
                        {% set productLimit = 16 %}
                        {% for i in range(1, productLimit) %}
                            <div class="column col-xs-12 col-sm-6 col-md-6 col-3 product-tile-column">
                                {% include 'common/product/product-tile.twig' with {product: products[i] } %}
                            </div>
                        {% endfor %}
                    {% else %}

                        {% for product in products %}
                            <div class="column col-xs-12 col-sm-6 col-md-6 col-3 product-tile-column">
                                {% include 'common/product/product-tile.twig' with {product: product } %}
                            </div>
                        {% endfor %}

                    {% endif %}

                    <div class="column col-xs-12 col-sm-6 col-md-6 col-3 product-tile-column">
                        {% include 'common/product/add-empty-product.twig' with {product: product } %}
                    </div>

                </div>
            {% endif %}

        </div>
    </div>

    {% include 'common/back-to-top.twig' %}

{% endblock %}