{% extends "../layout/document.twig" %}

{% block content %}

  {% if not categoryHeader %}
    {% set categoryHeader = [
      {
        text: 'SET IT AND FORGET IT',
        subText: 'Tell us when and where you need to be restocked and never worry again'
      }
    ]%}
  {% endif %}

  {% if not shippingTypes %}
    {% set shippingTypes = [
      {
        image: '/images/truck-shipping.png',
        header: 'ONE TIME TRIAL',
        copy: 'This is a two-line product title  description with full info and...'
      },
      {
        image: '/images/recurrance.png',
        header: 'EVERY OTHER MONTH',
        copy: 'This is a two-line product title  description with full info and...'
      },
      {
        image: '/images/quarterly.png',
        header: 'EVERY FOUR MONTHS',
        copy: 'This is a two-line product title  description with full info and...'
      }
    ] %}
  {% endif %}
  <div class="bg-grey">
    <div class="max-width-xl">
      {% include 'common/category-header.twig', with { categoryHeader } %}
    </div>
    <div class="max-width-md">
      <div class="columns shipping-tile-container">
        {% for item in shippingTypes%}
          <div class="column col-4 col-xs-12 col-sm-12">
            {% include 'common/shipping/shipping-tile.twig', with {shipping: item} %}
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}