<div class="product-tile bg-white" itemscope="itemscope" itemtype="http://schema.org/ItemList">
    <link itemprop="url" href=""/>

    <div itemprop="itemListElement" itemscope="itemscope" itemtype="http://schema.org/Product">
        <div class="text-center">
            <h3 class="product-tile-header">Product Category</h3>
            <a class="product-tile-link" href="" title="">
                <img class="product-tile-image" alt="Photo of product" itemprop="image" src="/images/product-example.png"/>
            </a>
        </div>
        <div itemprop="offers" itemscope="itemscope" itemtype="http://schema.org/Offer">
            <h5 class="product-tile-price" itemprop="price">$2.25</h5>
            <p class="product-tile-description" itemprop="description">Colgate Total Advanced Pro-sheild Mouthwash Peppermint…</p>
        </div>
        <button class="btn btn-lg btn-block btn-primary">
            Add to kit
            <i class="fal fa-plus-circle"></i>
        </button>
    </div>
</div>