<div class="product-row">

    <h4 class="product-row-header text-center">You might also like</h4>

    <div class="columns">

        {% for product in associatedProducts %}
            <div class="column col-4 col-xs-11 col-sm-10 col-md-4 col-mx-auto">
                {% include 'common/product/product-tile.twig' %}
            </div>
        {% endfor %}

    </div>

</div>