.products {
  &.related {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $silver-white;
    border-top: $grey-border;
    padding: 50px 10px;

    .columns {
      max-width: 850px;
      margin: 0 auto;
    }

    li {
      .product-tile {
        border: $grey-border;
        border-radius: 4px;
      }
    }
  }
  >h2 {
    @include sentinel(25px, 400);
    letter-spacing: normal;
    color: $grey;
    padding: 0 0 25px;
    max-width: 850px;
    margin: 0 auto 0;
    text-align: center;

    &:first-child {
      // margin-bottom: 0;
    }

  }
}