.woocommerce-account {
  #content {
    background-color: $silver-white;
  }

  .entry {
    &-content {
      margin: 0 $unit-4 0;
      padding-bottom: $unit-8;

      > .woocommerce {
        border-radius: 4px;
        border: $grey-border;
        background-color: $white;
        display: flex;
      }
    }

    &-header {
      text-align: center;
      padding: $unit-8 $unit-2;
    }
  }

  .button {
    padding: 10px 34px;
    height: auto;
    margin-bottom: $unit-2;
    background-color: $primary-color;
    border-radius: 4px;
    color: $white;
    border: 0;
    box-shadow: none;
  }

  .woocommerce {
    &-MyAccount-content {
      padding: $unit-6;
      width: 80%;

      .edit {
        &:before {
          font-size: 22px;
          color: $blumine;
        }
      }
    }

    &-address-fields {
      .form-row {
        label {
          padding: $unit-2 0;
        }
      }

      .input-text {
        padding: $unit-2;
        border: $grey-border;
        border-radius: 4px;
      }
    }

    &-customer-details {
      padding: $unit-6 $unit-1 0;

      p {
        margin-bottom: 0;
      }

      .column {
        margin-bottom: $unit-6;

        &:last-child {
          margin-bottom: 0;
        }

      }

    }
  }
  
}

.bl {

  &-edit-account-details {
    label {
      margin-bottom: $unit-1;
    }

    input {
      margin-bottom: $unit-6;
    }
  }
  
  &-action-buttons {
  }

  &-form-container {
    .required {
      color: $blumine;
    }
    > .column {
      background-color: $white;
      border: $grey-border;
      border-radius: 4px;
      padding: $unit-6;
      margin: 0 0 $unit-6;

      h2 {
        margin: 0 0 $unit-4;
      }

      label {
        margin: 0 0 $unit-4;
      }

      .form-input {
        margin: 0 0 $unit-8;
      }
    }
  }

  &-remember-me {
    margin-bottom: 0;
    padding-bottom: 0;

    .form-label {
      margin-bottom: 0;
      padding-bottom: 0;

      input {
        &.form-input {
          text-align: center;
          padding-left: $unit-6;

          max-width: 46px;
          height: 20px;
          position: relative;
          margin-bottom: 0;
          cursor: pointer;

          &:focus,
          &:active {
            outline: thin dotted;
            box-shadow: none;
          }

          &:after {
            position: absolute;
            z-index: 1;
            left: -4px;
            top: -2px;

            content: "";
            background-color: $silver-white;
            border: $grey-border;
            border-radius: 25px;
            display: block;
            width: 100%;
            height: 22px;
          }

          &:before {
            transition: left 0.2s ease-in-out, right 0.2s ease-in-out,
              background-color 0.2s ease-in-out;
            content: "";
            position: absolute;
            z-index: 2;
            top: -2px;
            left: -4px;
            background-color: $grey;
            border: $grey-border;
            border-radius: 50%;
            overflow: hidden;

            width: 22px;
            height: 22px;
          }

          &:checked {
            &:before {
              background-color: $primary-color;
              transition: left 0.2s ease-in-out, right 0.2s ease-in-out,
                background-color 0.2s ease-in-out;
              left: 20px;
            }
          }
        }
      }
      > span {
        padding-top: 5px;
      }
    }

    input {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &-login-container {
    width: 100%;
    padding: $unit-4;
    .column {
      border: 0;
    }
  }
}
