.product {
  &-tile {
    &-link {
      min-height: 182px;
    }
    &-image {
      max-height: 180px;
      &[height] {
        height: auto !important;
      }
    }
  }

  .button {
    @include knockout32(15px, 400);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 10px 34px;
    background-color: $blue-shale;
    color: $white;
    border-radius: 4px;
  }

  .offers {
  }
  .price {
    @include sentinel(22px, 400);
    transition: opacity 0.2s ease-in-out;
    display: block;
    margin: 12px 0;
  }
  .woocommerce {
    &-loop-product__title {
      @include knockout32(14px, 400);
      transition: opacity 0.2s ease-in-out;
      font-style: normal;
      min-height: 84px;
      font-weight: 400;
      font-size: 14px;
      margin: 8px 0;
      color: $grey;
    }
    &-placeholder {
      max-height: 175px;
    }
  }
}
