.woocommerce {
  &-order-received {
    .entry-content {
      background-color: transparent;
      border: 0;
      margin: 0 $unit-4 $unit-4;
      padding-top: 0;
    }
    .wc-item-meta {
      display: none;
    }

    .entry-title {
      margin-top: $unit-6;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  &-order {
    .woocommerce {
      &-order-overview {
        li {
          @include knockout32(15px, 400);
          padding: $unit-6 $unit-2;

          &:last-child {
            padding: $unit-4 $unit-2;
          }

          > strong {
            font-size: 22px;
          }
        }
      }

      &-thankyou-order-details {
        border: $grey-border;
        border-radius: 4px;
        background-color: $white;
        padding: $unit-2 $unit-8;
        margin: $unit-8 0 $unit-6;
        display: flex;
        flex-wrap: wrap;
        > li {
          width: 50%;
          > strong {
            font-size: 18px;
          }
          &:last-child {
            width: 100%;
            > .btn {
              max-width: 400px;
              margin: 0 auto;
            }
          }
        }
      }
    }

    &-details {
      // padding: 0;
      border: $grey-border;
      border-radius: 4px;
      background-color: $white;
      padding: $unit-8 $unit-12;
      // margin-top: $unit-8;

      &__title {
        @include sentinel(25px, 300);
        color: $medium-grey;
        text-align: center;
        padding: $unit-6 0 $unit-12;
        margin: 0 0 $unit-6;
        letter-spacing: normal;
        border-bottom: $grey-border;
      }
    }
  }

  &-table {
    width: 100%;
    text-align: left;
    display: block;
    margin: 0 0 $unit-4;

    .product {
      &-name {
        text-align: left;
        width: 80%;
        padding-right: 10%;
      }

      &-total {
        text-align: right;
        width: 20%;
      }
    }
    tr {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      th,
      td {
        width: 50%;
        padding: $unit-2 0;
      }

      td {
        text-align: right;
      }
    }

    a {
      color: $medium-grey-2;
      opacity: 1;
    }

    thead {
      display: block;

      th {
        padding-bottom: $unit-4;
      }
    }

    tbody {
      display: block;
    }

    tfoot {
      display: block;
      // border-top: $grey-border;
      // padding-top: $unit-7;
      border: $grey-border;
      padding: $unit-3 $unit-7;
      margin-top: $unit-7;

      background-color: $silver-white;
      border-radius: 4px;
    }
  }

  &-thankyou-order-received {
    @include sentinel(25px, 300);
    text-align: center;
    padding: $unit-6;
    margin: 0;
  }

  &-customer-details {
    .woocommerce-column__title {
      @include sentinel(24px, 300);
      margin: $unit-10 0 $unit-2;
    }
    .addresses {
      float: none;
      clear: both;
      overflow: hidden;
      margin: $unit-8 0 0;
    }
  }
  #shipping-frequency {
    button {
      &.chosen {
        display:none;
        &.show {
          display:block;
        }
      }
    }
  }
}
