.woocommerce-account {
    .woocommerce-MyAccount-content {
        .woocommerce-Message {
          background-color: transparent;
          color: $black;

          .button {
            margin: 0;
          }
        }

        .shipping-tile-container {
            .shipping-tile {
                .default-display {
                    .skip-buttons {
                    }
                    .frequency-buttons {

                    }
                }
                .edit-display {
                }
            }
        }
    }
}