.products {
  &.related {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $silver-white;
    padding: 93px 10px 100px;

    .columns {
      max-width: 850px;
      margin: 0 auto;
    }

    .product {
    }
  }

  > h2 {
    @include sentinel(25px, 400);
    letter-spacing: normal;
    color: $grey;
    padding: 0 0 60px;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
  }
}
