.product {
  .summary {
    &.entry-summary {
      // display: flex;
      flex-wrap: wrap;
      padding: 0 0 $unit-16 $unit-12;

      .price {
        font-size: 24px;
        width: 100%;
        text-align: left;
        order: 1;
        flex-direction: row;
        min-width: 100px;
        margin: 0 0 $unit-4;
      }

      .product_meta {
        padding-top: 0;
        border: 0;
        order: 4;

        > span {
          color: $grey;
        }

        a {
          text-decoration: none;
          color: $blumine;
        }
      }

      .single_variation_wrap {

        .woocommerce-variation-add-to-cart {
          .quantity {
            display: flex;
            align-items: center;
            width: 30%;

            > label {
              @include knockout50($unit-7, 300);
              margin: 0 $unit-6 0 0;
              padding: 0;
            }
          }

          .single_add_to_cart_button {
            max-width: 200px;
          }
        }
      }


    }
  }

  .input-text {
    border-radius: 4px;
    border: $cart-border;
    text-align: center;
    padding-left: 10px;
  }

  &_title {
    @include knockout(42px, 400);
    text-transform: uppercase;
    text-align: left;
    margin: 0 0 $unit-8;
    width: 100%;
    order: 0;
  }

  .woocommerce-product-details__short-description {
    flex-direction: row;
    width: 100%;
    order: 3;
  }

  .cart {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: left;
    order: 2;
  }

  .button {
    align-self: flex-end;
    padding-left: $unit-5;
    padding-right: $unit-5;
  }

  .woocommerce-tabs {
    display: none;
  }

  .quantity {
    text-align: center;
    float: none;
  }

  .screen-reader-text {
    padding-right: $unit-2;
  }

  .qty {
    width: 100%;
    max-width: 80px;
    padding: 9px 4px;
    box-sizing: border-box;
  }

  .woocommerce-product {
    &-gallery {
      .flex-viewport {
        height: auto !important;

        > figure {
          height: auto !important;
        }
      }

      &__image {
        text-align: center;
        margin: 0 auto !important;
        height: auto !important;
        // width: auto !important;
        // max-width: 75%;

        > img {
          // max-width: 75%;
          // width: auto !important;
        }
      }

      &__wrapper {
      }

      ol {
        &.flex-control-thumbs {
          li {
            width: 33%;
          }
        }
      }

      figure {
        margin: 0 0 $unit-4;
      }

      img {
        height: auto;
        width: auto;
      }
    }

    &-gallery__image {
      > a {
        text-align: center;
        display: block;
        margin: 0 auto;
      }
    }
  }
}

.single-product {
  .product {
    &.type-product {
      display: flex;
      flex-direction: column;

      .woocommerce-product-gallery {
        float: none;
        // width: 50%;
        margin: 0 auto;
      }

      .entry-summary {
        float: none;
        // width: 60%;
        margin-bottom: 100px;
      }

      .cart {
        padding: $unit-9 0 $unit-6;
        width: 100%;
      }
    }
  }
}
