.footer-container {
  .widget-title {
    margin: 0 0 6px;
    color: $gold;

    &::before {
      display: none;
    }
  }

  &.color-scheme-light {
    p {
      color: $blue;
    }

    ul {
      li {
        a {
          color: $blue;

          &:hover {
            color: #000;
          }
        }
      }
    }

    a {
      color: $blue;

      &:hover {
        color: #000;
      }
    }

  }
}