.benlido-kit-listing {
  padding: 0;
}

.kit-list {

  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &-grid {}

  &-breadcrumbs {
    position: relative;
    padding-right: 8px;
    margin-right: 8px;

    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 1px;
      height: 100%;
      background-color: $grey;
    }

    &:last-child {
      &::after {
        display: none;
      }
    }

    &-wrapper {
      margin: 0 0 20px;
    }

    &-list {
      display: flex;
      flex-wrap: nowrap;
    }

    &-link {
      color: $grey;
    }

    &.active {
      text-transform: uppercase;
      font-weight: bold;
      color: $black;
    }
  }

  &-item {
    box-sizing: border-box;
    padding: 14px;

    &:only-child {
      width: 100%;
    }

    &:last-child {
      margin: 0 auto;
    }

    @media (min-width: 700px) {
      width: 50%;
    }

    @media (min-width: 1200px) {
      width: 33.333%;
    }

  }

  &-link {
    display: block;
  }

  &-image {
    width: 100%;
    max-width: 100%;

    &-container {}
  }

  &-detail {
    &-wrapper {
      display: flex;
      flex-wrap: nowrap;
    }

    &-page {
      display: block;
      margin: 8px 0 0;
    }
  }

  &-actions {
    text-align: right;
    width: 50%;
  }

  &-description {
    width: 50%;
  }

  &-caption {
    padding: 0;
    margin: 0;
    line-height: normal;
    width: 100%;
  }

  &-title {
    padding: 8px 0;
    margin: 0;
    line-height: normal;
  }

  &-price {
    font-weight: bold;
  }

  &-product-count {
    padding-left: 8px;
    font-weight: normal;
  }

  &-add-to-cart {
    border: 0;
    border-radius: 4px;
    background-color: $blue;
    color: $white;
  }

}