html,
body {
  @include knockout32(15px, 400);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include knockout(50px, 400);
  letter-spacing: 1.5px;
  line-height: 90%;
  margin: 0;

  a {
    &:hover {
      color: $blue-shale;
      text-decoration: none;
    }
  }
}

h1 {
  font-size: 75px;
  text-transform: uppercase;
}

p {
  color: $medium-grey-2;
}

a {
  transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out,
    background-color 0.2s ease-in-out;

  &:visited {
    color: $blue-shale;
  }

  &:hover {
    text-decoration: none;
    transition: color 0.2s ease-in-out, text-shadow 0.2s ease-in-out,
      background-color 0.2s ease-in-out;
  }
}