@import './variables';
@import './mixins';
// @import './typography';
@import './global';
@import './header';
@import './navigation';
@import './layout';
@import './footer';

@import './travel-kits';


body {
  // display: none !important;
  font-size: 12px;
}

.bl-callout {
  a {
    font-family: $copy-font;
    color: $gold;
    margin-left: 10px;
  }
}