@import './variables';
@import './mixins';
// @import './typography';
// @import './global';
@import './layout';
@import './header';
@import './navigation';
@import './footer';

@import './travel-kits';
@import './basel-overrides';
@import './shop';
@import './cart';
@import './product-detail';

.bl-callout {
  a {
    font-family: $copy-font;
    color: $gold;
    margin-left: 10px;
  }
}