{% extends "../layout/document.twig" %}

{% block content %}

  {% if not heroData %}
    {% set heroData = [
      {
        header: 'SHOP BEAUTY & GROOMING'
      }
  ]%}
  {% endif %}

  {% if not stepNavigation %}
    {% set stepNavigation = [
      {
        previousStep: '/pick-a-kit',
        nextStep: '/shipping-schedule'
      }
    ] %}
  {% endif %}

  {% include 'common/step-navigation.twig' %}
  {% include 'common/hero/hero-title-copy.twig', with { heroData: heroData } %}

  {% if not products %}
    {% set products = [
        {
          categoryID: '123',
          categoryTitle: 'Category Name 2',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: {
            quantity: '2',
          }

        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 3',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: {
            quantity: '2',
          }

        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 4',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: {
            quantity: '2',
          }

        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 5',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: {
            quantity: '2',
          }

        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 6',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: {
            quantity: '2',
          }

        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 1',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: {
            quantity: '2',
          }

        },
        
        {
          categoryID: '123',
          categoryTitle: 'Category Name 2',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: {
            quantity: '2',
          }

        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 3',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: {
            quantity: '2',
          }

        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 4',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: {
            quantity: '2',
          }

        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 5',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: {
            quantity: '2',
          }

        },
        {
          categoryID: '123',
          categoryTitle: 'Category Name 6',
          sku: '34230asdf',
          image: '/images/product-example.png',
          description: 'Colgate Total Advanced Pro-sheild Mouthwash Peppermint...',
          href: '/',
          price: '2.45',
          selected: {
            quantity: '2',
          }

        }
      ]%}
  {% endif %}

  {% if not categoryItems %}
    {% set categoryItems = [
      {
        name: 'Bath and Body',
        id: '123',
        href: '?',
        items: [
          {
            name: 'Deodorants',
            id: '',
            href: '?'
          }, {
            name: 'Eye Care',
            id: '',
            href: '?'
          }, {
            name: 'Hair Care',
            id: '',
            href: '?'
          }, {
            name: 'Oral Care',
            id: '',
            href: '?'
          }
        ]
      }, {
        name: 'Beauty & Grooming',
        id: '456',
        href: '?',
        items: [
          {
            name: 'Shaving',
            id: '',
            href: '?'
          }, {
            name: 'Skin Care',
            id: '',
            href: '?'
          }, {
            name: 'Makeup',
            id: '',
            href: '?'
          }
        ]
      }, {
        name: 'Health',
        id: '789',
        href: '?',
        items: [
          {
            name: 'Over the counter',
            id: '',
            href: '?'
          }, {
            name: 'Feminine Protection',
            id: '',
            href: '?'
          }
        ]
      }, {
        name: 'Tools & Accessories',
        id: '321',
        href: '?',
        items: [
          {
            name: 'Tools',
            id: '',
            href: '?'
          }, {
            name: 'Gum & Mints',
            id: '',
            href: '?'
          }, {
            name: 'Wipes & Sanitizers',
            id: '',
            href: '?'
          }, {
            name: 'Baby Care',
            id: '',
            href: '?'
          }
        ]
      }
    ] %}
  {% endif %}

  <div class="bg-grey">
    <div class="max-width-xl">
      <div class="columns">
        <div class="column col-xs-12 col-sm-4 col-md-4 col-lg-3 col-2">
          {% include 'common/category-list.twig', with {categoryItems:categoryItems} %}
        </div>
        <div class="column col-xs-12 col-sm-8 col-md-8 col-lg-9 col-10">
          {% include 'common/product/product-category-list.twig', with { products } %}
        </div>
      </div>
    </div>
  </div>

  <div class="bg-grey">
    {% include 'common/back-to-top.twig' %}
  </div>

{% endblock %}