{% if banner is defined %}

  <div class="benlido-banner benlido-banner--top bg-blue">
    <div class="columns">
      <div class="column col-12">
        {{ banner.text }}
      </div>
    </div>
  </div>

{% endif %}