@media (max-width: $size-md) {
  .back-to-top {
    .column {
      text-align: center;
      &.back-to-top-column {
        margin-top: 20px;
      }
      &.next-step-column {
        order: -1;
        margin-top: 0;
      }
    }
  }
}
