@media (max-width: $size-md) {
  .widget_nav_menu {
    display: none;
  }

  .category-list {
    &-wrapper {
      display: none;
      margin-top: 0;
    }

    &-breadcrumbs {
      color: $grey;

      a {
        color: $grey;
      }

      &:hover {
      }
    }

    &-group {
    }

    &-parent {
      a {
        color: $grey;
      }
    }

    &-sub-items {
      li {
      }
      a {
      }

      &-group {
        &.active {
        }
      }
    }

    &-items {
      .column {
      }
    }
  }

  .show-categories {
    .category-list-breadcrumbs {
      padding: 10px 0 10px;
    }
    .widget_nav_menu {
      display: block;
      animation: 0.5s alternate fadeIn;
      padding: 0 20px;
    }
  }

  .mobile-navigation {
    display: block;
    background-color: #fff;
    border-radius: 4px;
    border: $grey-border;
    margin-top: 20px;

    .category-list {
      &-parent {
        a {
          color: $blumine;
          display: block;
        }
      }

      &-breadcrumbs {
        cursor: pointer;
        padding-top: 0;
        display: block;
      }

      &-breadcrumbs {
        padding: 0;
        margin: 0;

        a {
          display: block;
          position: relative;
          padding: 14px 16px;

          &:after {
            display: inline-block;
            position: absolute;
            bottom: 10px;
            right: 16px;
            padding: 0 0 0 5px;
            font-family: "Font Awesome 5 Pro";
            font-size: 18px;
            content: "\f078";
          }
        }
      }
    }

    .category-list-parent-group {
      display: none;
      padding: 0 20px 10px;
    }
  }
}
