@media (min-width: $size-sm) {
  .copyright {
    padding: 0;
  }
}

@media (max-width: $size-md) {
  .copyright {
    text-align: left;

    &-logo {
      > a {
        display: block;
      }
    }

    &-text {
      display: inline-block;
    }
  }
}
