@media (max-width: $size-xs) {
  .hero {
    padding-top: 50px;

    &-help {
      padding-top: 0;
      padding-bottom: 50px;

      &-header {
      }

      &-copy {
      }

      &-list {
        li {
        }
      }
    }

    &-home {
      &[style*="background-image"] {
        // padding-top: 40px;
        // background-size: 148%;
        // background-position-x: right;
        // background-position-y: calc(100% + 50px);
      }

      .hero {
        &-action-buttons {
          padding-top: 20px;
          .column {
            //padding: 0;
          }
        }

        &-sub-header {
          max-width: 260px;
          margin-right: auto;
          margin-left: auto;
          padding-bottom: $unit-1;
        }
      }
    }
  }
}

@media (max-width: $size-sm) and (min-width: $size-xs + 1px) {
  .hero {
    &-action-buttons {
      padding-top: 20px;
    }
  }
}

@media (max-width: $size-md) and (min-width: $size-sm + 1px) {
  .hero {
    padding-top: 50px;

    &-help {
      padding-top: 0;
      padding-bottom: 50px;

      &-header {
      }

      &-copy {
      }

      &-list {
        li {
        }
      }
    }
  }
}

@media (min-width: $size-md) {
  .hero {
    &-home {
      .hero {
        &-header {
          @include knockout($unit-24, 400);
        }

        &-sub-header {
          font-size: $unit-6;
        }

        &-copy {
          font-size: $unit-6;
          letter-spacing: 0.5px;
        }

        &-image {
          margin: 0 0 0 auto;
        }
      }
    }
  }
}

@media (min-width: $size-lg) {
  .hero {
    &-home {
      .hero {
        &-header {
          @include knockout($unit-26, 400);
        }

        &-sub-header {
          font-size: $unit-8;
        }

        &-copy {
          font-size: $unit-6;
          letter-spacing: 0.5px;
        }

        &-image {
          margin: 0 0 0 auto;
        }
      }
    }
  }
}
