@media (max-width: $size-xs) {
  .hero {
    padding-top: 50px;

    &-help {
      padding-top: 0;
      padding-bottom: 50px;

      &-header {
      }

      &-copy {
      }

      &-list {
        li {
        }
      }
    }

    &-home {
      .hero {
        &-action-buttons {
          padding-top: 20px;
          .column {
            //padding: 0;
          }
        }

        &-sub-header {
          max-width: 260px;
          margin-right: auto;
          margin-left: auto;
          padding-bottom: $unit-1;
        }
      }
    }
  }
}

@media (max-width: $size-sm) and (min-width: $size-xs + 1px) {
  .hero {
    &-action-buttons {
      padding-top: 20px;
    }
  }
}

@media (max-width: $size-md) and (min-width: $size-sm + 1px) {
  .hero {
    padding-top: 50px;

    &-help {
      padding-top: 0;
      padding-bottom: 50px;

      &-header {
      }

      &-copy {
      }

      &-list {
        li {
        }
      }
    }
  }
}

@media (min-width: $size-xxs) {
  .hero {
    &-home {
      &[style*="background-image"] {
        background-size: 264%;
      }
    }
  }
}

@media (min-width: $size-xs) {
  .hero {
    &-home {
      &[style*="background-image"] {
        transition: background-position 0.2s ease-in-out;
        background-size: cover;
        background-position: 80% bottom;
      }
    }
  }
}

@media (min-width: $size-md) {
  .hero {
    &-home {
      .hero {
        &-header {
          @include knockout($unit-24, 400);
        }

        &-sub-header {
          font-size: $unit-6;
        }

        &-copy {
          font-size: $unit-6;
          letter-spacing: 0.5px;
        }

        &-image {
          margin: 0 0 0 auto;
        }
      }
    }
  }

  .bl {
    &-home-page {
      .hero {
        &-row {
          &-background {
            &:nth-child(even) {
              .columns {
                .column {
                  &:first-child {
                    order: 1;
                  }
                }
              }
            }
            &:last-child {
              .columns {
                .column {
                  &:first-child {
                    order: 1;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $size-md) {
  .bl {
    &-home-page {
      .hero {
        &-row {
        }
      }
    }
  }
}

@media (min-width: $size-lg) {
  .hero {
    &-home {
      &[style*="background-image"] {
        height: 65vh;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .hero {
        &-header {
          @include knockout($unit-30, 400);
        }

        &-sub-header {
          font-size: $unit-8;
        }

        &-copy {
          font-size: $unit-6;
          letter-spacing: 0.5px;
        }

        &-image {
          margin: 0 0 0 auto;
        }

        &-action-buttons {
          .btn {
            &-lg {
              padding: $unit-5 $unit-4;
            }
          }
        }
      }
    }
  }
}
