{% if queryTerm is defined %}
  {% set term = queryTerm %}
{% else %}
  {% set term = '' %}
{% endif %}

<form action="/" method="get" class="search-in-page bg-white border-bottom-grey">

  <h2 class="search-in-page-header text-center">SEARCH</h2>

  <div class="container grid-md">

    <div class="columns col-gapless">

      <div class="column col-sm-10 col-11">
        <input value="{{term}}" class="form-input benlido-search-input search-in-page-input" required type="search" aria-label="search text" id="" name="s" placeholder="Search for products..."/>
        <input type="hidden" name="post_type" value="product"/>
      </div>

      <div class="column col-sm-2 col-1">
        <button>
          <i class="fal fa-search"></i>
        </button>
      </div>

      {% if products is defined %}

        <div class="column col-12">
          <h4 class="search-in-page-results-header text-center">{{count}}
            Results for "{{queryTerm}}"</h4>
        </div>

      {% endif %}

    </div>

  </div>

</form>