@media (min-width: $size-xs) {

}
@media (min-width: $size-sm) {
  .single-product {
    &.single {

      .product {
        &.product_cat-bags {
          flex-direction: row;
          flex-wrap: wrap;
          .woocommerce-product-gallery {
            width: 50%;
          }

          .entry-summary {
            &.summary {
              width: 50%;
            }

            .price {

            }

            .cart {

            }

            .swatch-control {

            }

            .swatch-wrapper {

              &.selected {

              }
            }

            .variations {
              &-header {

              }
            }

            .reset_variations {

            }

            .value {

            }

          }

          .single_variation_wrap {

          }

          .woocommerce-variation-add-to-cart {

            .button {

            }

            .quantity {

              > label {
              }

            }

          }

        }

      }

      .product_meta {

        .posted_in {

          a {

          }
        }
      }

      .wc-tabs {

      }

      .woocommerce-tabs {

      }

      .woocommerce-Tabs-panel--description {
        h2 {

        }

        p {

        }
      }

    }
  }
}

@media (min-width: $size-md) {
  .single-product {
    &.single {

      .product_cat-bags {

        .entry-summary {
          &.summary {
            width: 100%;
          }

          .price {

          }

          .cart {

          }

          .swatch-control {

          }

          .swatch-wrapper {

            &.selected {

            }
          }

          .variations {
            &-header {

            }
          }

          .reset_variations {

          }

          .value {

          }

        }

        .single_variation_wrap {

        }

        .woocommerce-variation-add-to-cart {

          .button {

          }

          .quantity {

            > label {
            }

          }

        }

      }

      .product_meta {

        .posted_in {

          a {

          }
        }
      }

      .wc-tabs {

      }

      .woocommerce-tabs {

      }

      .woocommerce-Tabs-panel--description {
        h2 {

        }

        p {

        }
      }

    }
  }
}

@media (min-width: $size-lg) {

}
@media (min-width: $size-xl) {

}
