<div class="benlido-back-to-top text-center bg-grey">
    <div id="benlido-back-to-top" class="btn btn-lg">
        <span>Back to Top</span>
        <i class="fal fa-chevron-circle-up"></i>
    </div>
</div>