{% for header in categoryHeader %}
  <div class="category-header-container">
    <h1 class="category-header text-center">{{ header.text }}</h1>
    <h4 class="category-sub-header text-center">{{ header.subText }}</h4>
  </div>
{% endfor %}