{% if categoryHeader %}

  {% for header in categoryHeader %}

    {% if header.text != '' or header.subText != ''%}

      <div class="category-header-container">

        {% if header.text != '' %}
          <h1 class="category-header text-center">{{ header.text }}</h1>
        {% endif %}

        {% if header.subText != '' %}
          <h4 class="category-sub-header text-center">{{ header.subText }}</h4>
        {% endif %}

      </div>

    {% endif %}

  {% endfor %}

{% endif %}