<ul class="footer-contact-links">
    <li>
        <a href="mailto:help@benlido.com" title="">Email: help@benlido.com</a>
    </li>
    <li>
        <a href="tel:55555555555" title="">Call: 555-555-5555</a>
    </li>
</ul>