<div class="copyright">
    <div class="copyright-logo">
        <img src="/images/diamond_logo.svg" alt="Ben Lido Footer Logo Image"/>
        <h4 class="copyright-text">&copy; Ben Lido 2018</h4>
    </div>
</div>