{% if not className %}
    {% set className = "footer-primary-items" %}
{% endif %}
{% if not list %}
    {% set list = [ { url:
'/', title: 'Home', text: 'Home' }, { url: '/bags/', title: 'Build a kit', text: 'Build a kit' }, { url: '/kits', title:
'Prebuilt kits', text: 'Prebuilt kits' }, { url: '/about', title: 'About', text: 'About' }, { url: '/my-account', title:
'Sign in', text: 'Sign In' } ] %}
{% endif %}
{% if not logo %}
    {% set logo = '<img src="/images/diamond_logo.svg">' %}
{% endif %}
{% if not socialMediaLinks %}
    {% set socialMediaLinks = [
        {
            url: '/?',
            title: 'Instagram',
            text: 'Instagram'
        }, {
            url: '/?',
            title: 'Twitter',
            text: 'Twitter'
        }, {
            url: '/?',
            title: 'Facebook',
            text: 'Facebook'
        }
    ] %}
{% endif %}
{% if not contact %}
    {% set contact = [{"id":1302,"title":"Email: help@benlido.com","alt_title":"Email: help@benlido.com","post_name":"helpbenlido-com","url":"mailto:help@benlido.com","target":"","classes":""},{"id":1303,"title":"Call:
1-800-555-5555","alt_title":"Call: 1-800-555-5555","post_name":"1-800-555-5555","url":"tel:1-800-555-5555","target":"","classes":""}]
%}
{% endif %}

<foote class="footer" role="contentinfo">
    <div class="bg-white">

        <div class="max-width-xl columns">
            <div class="column col-xs-12 col-sm-12 col-md-12 col-3">
                {% include 'common/navigation/navbar-items.twig' %}
            </div>

            <div class="column col-xs-12 col-sm-12 col-md-12 col-3">
                {% include 'common/social-media-links.twig' with { socialMediaLinks: socialMediaLinks } %}
            </div>

            <div class="column col-xs-12 col-sm-12 col-md-12 col-3">
                {% include 'common/contact-links.twig' %}
            </div>

            <div class="column col-xs-12 col-sm-12 col-md-12 col-2 col-mr-auto">
                {% include 'common/copyright.twig' %}
            </div>

        </div>
    </div>
</footer>