<header class="bg-white">
  <div class="max-width-1200">
    <div class="navbar">
      <div class="navbar-section">
        {% include 'common/navigation/navbar.twig' %}
      </div>

      <div class="navbar-center">
        {% include 'common/logo.twig' %}
      </div>

      <div class="navbar-section">
        <div class="columns">
          <div class="column hide-xs">
            <i class="fal fa-user-circle fa-2x"></i>
          </div>
          <div class="column">
            <i class="fal fa-suitcase"></i>
          </div>
          <div class="column">
            <span class="navbar-item-counter">14</span>
          </div>
        </div>
      </div>
    </div>
  </header>