<div class="step-navigation">
  <div class="max-width-1200">
    <div class="columns">

      <div class="col-4 col-mr-auto text-left">
        <a class="btn btn-lg btn-no-border" href="" title="">
          <i class="fal fa-chevron-circle-left"></i>
          <span class="step-navigation-text-back">
            Back
          </span>
        </a>
      </div>

      <div class="col-4 text-center">
        <div class="step-navigation-current">
          Choose A Bag
        </div>
      </div>

      <div class="col-4 col-ml-auto text-right">
        <a class="btn btn-primary btn-lg" href="" title="">
          <span class="step-navigation-text">
            Next: Customize Kit
          </span>
          <i class="fal fa-chevron-circle-right"></i>
        </a>
      </div>

    </div>
  </div>
</div>