@mixin breakpoint($bp, $rule: min-width) {
    @media screen and (#{$rule}: $bp) {
        @content;
    }
}

// Animation snippit
@mixin animate($focus: all, $duration: 0.5s, $function: ease, $delay: 0s) {
    -webkit-transition: $focus $duration $function $delay;
    -moz-transition: $focus $duration $function $delay;
    -o-transition: $focus $duration $function $delay;
    transition: $focus $duration $function $delay;
}

@mixin transform($transforms) {
    -moz-transform: $transforms;
      -o-transform: $transforms;
     -ms-transform: $transforms;
 -webkit-transform: $transforms;
       transform: $transforms;
}
@mixin transition($transition...) {
    -moz-transition:    $transition;
    -o-transition:      $transition;
    -webkit-transition: $transition;
    transition:         $transition;
}

@mixin user-select ($value: none) {
	-webkit-user-select: $value;
	   -moz-user-select: $value;
	    -ms-user-select: $value;
	        user-select: $value;
}