// main: '_base.scss'
.button-container {
    display: table;
}
.generic-button {
    display: block;
    position: relative;
    width: auto;
    max-width: px(210);
    padding: 0 px(15);
    @include minpoint($min-hd) {
        width: px(210);
        max-width: none;
        padding: 0;
    }
    height: px(50);
    background-color: $brown;
    border-radius: px(3);
    @include sentinel;
    font-size: rem(15);
    font-weight: 500;
    color: $light-gray2;
    text-decoration: none;
    text-align: center;
    @include animate(all, .25s, ease-in-out);

    span {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        &.separator {
            word-spacing: px(20);
            text-transform: uppercase;
        }
    }

    &:hover {
        background-color: $brown-hover;
        color: $white;
        text-decoration: none;
    }
    &.float {
        float: left;
        margin-right: px(16);

        &:last-child {
            margin-right: 0;
        }
    }
    &.place-right {
        position: absolute;
        top: 0;
        right: px($outer-hd);
    }
    &:last-child {
        margin-right: 0;
    }
}
.generic-button-inverse{
    border:1px solid $light-gray2;
    display: block;
    position: relative;
    width: auto;
    max-width: px(210);
    padding: 0 px(15);
    @include minpoint($min-hd) {
        width: px(210);
        max-width: none;
        padding: 0;
    }
    height: px(50);
    background-color: transparent;
    border-radius: px(3);
    @include sentinel;
    font-size: rem(15);
    font-weight: 500;
    color: $brown;
    text-decoration: none;
    text-align: center;
    @include animate(all, .25s, ease-in-out);

    span {
        display: block;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;

        &.separator {
            word-spacing: px(20);
            text-transform: uppercase;
        }
    }

    &:hover {
        background-color: transparent;
        color: $brown-hover;
        text-decoration: none;
    }
    &.float {
        float: left;
        margin-right: px(16);

        &:last-child {
            margin-right: 0;
        }
    }
    &.place-right {
        position: absolute;
        top: 0;
        right: px($outer-hd);
    }
    &:last-child {
        margin-right: 0;
    }
}
#frequency {
    .button-container {
        width: 100%;
        @include minpoint($min-hd) {
            width: auto;
        }
    }
    .generic-button {
        width: 100%;
        @include minpoint($min-hd) {
            width: px(210);
        }
        &.float {
            float: none;
            max-width: none;
            margin-bottom: px(getBaseline());
            margin-right: 0;
            @include minpoint($min-hd) {
                float: left;
                max-width: px(210);
                margin-bottom: 0;
                margin-right: px(16);
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
.field {

    input {
        padding: px(getBaseline()) 0;
        border: none;
        border-bottom: px(1) solid $light-gray2;
        @include knockout-jr;
        font-size: rem(15);
        color: $gray;
    }
}
.back-button {
    position: absolute;
    z-index: 999;
    left: px($outer-mobile);
    @include minpoint($min-hd) {
        left: px($outer-hd);
    }
    &.no-outer {
        left: 0;
    }
}
.counter-dots, .owl-dots {
    display: table;
    position: relative;

    .dot, .owl-dot {
        display: block;
        position: relative;
        float: left;
        width: px(13);
        height: px(13);
        margin: 0 5px !important;
        border: px(1) solid $gray;
        border-radius: px(13/2);
        span {
            display:none !important;
        }
        @include animate(all, .25s, ease-in-out);

        &:last-child {
            margin-right: 0;
        }
        &:hover {
            cursor: pointer;
            border: px(1) solid $light-gray2;
        }
        &.active {
            background-color: $gray;

            &:hover {
                cursor: default;
                border: px(1) solid $gray;
            }
        }
    }
    &.vertical {
        .dot {
            float: none;
            margin-bottom: px(10);
            margin-right: 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    &.left {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
    }
}
.rating-container {
    position: relative;
    display: table;
    left: 50%;
    transform: translateX(-50%);
    .rating-star {
        float: left;
        margin-right: px(10);
    
        &:last-child {
            margin-right: 0;
        }
    }
}