.back-to-top {
  padding: 30px 10px 10px;
  border-top: $grey-border;

  .column {
    &:nth-child(1) {
      margin-bottom: 20px;
    }
  }

  .btn {
    padding: 10px 14px 10px 10px;
    min-width: 200px;

    &:not(.btn-primary) {
      text-shadow: none;
    }

    > span {
      padding: 0 20px 3px 10px;
      vertical-align: text-bottom;
      display: inline-block;
    }
  }

  .fal {
    font-size: 22px;
  }
}
