.benlido-back-to-top {
  padding: 40px 0;

  .btn {
    padding: 10px 14px 10px 10px;
    > span {
      padding: 0 20px 3px 10px;
      vertical-align: text-bottom;
      display: inline-block;
    }
  }
  .fal {
    font-size: 22px;
  }
}
