$grey-border: 1px solid $light-grey;
$cart-border: 1px solid rgba(3, 3, 3, 0.3);
$white-border: 2px solid $white;

@mixin border($position: "bottom", $color: $red, $thickness: "5px") {
  @if $position == all {
    border: $thickness solid $color;
  } @else {
    border-#{$position}: $thickness solid $color;
  }
}
