.btn {
  border-radius: 4px;
  &.btn-lg {
    padding: 10px 34px;
    height: auto;
  }
  &-no-border {
    border: 0;
  }

  &.btn-selected {
    background-color: $brown-grey;
    padding: 10px;
    display: flex;
  }
  .btn-selected {
    &-remove {
      width: 50%;
      border-right: 2px solid $white;
    }
    &-swap {
      width: 50%;
    }
  }
}
