.btn {
  border-radius: 4px;
  font-size: 15px;
  // pointer-events: none;
  // text-shadow: $text-shadow;

  &.btn-lg {
    font-size: 15px;
    padding: 10px 34px;
    height: auto;
  }

  &.btn-md {
    font-size: 15px;
  }

  &-no-border {
    border: 0;
  }

  &.btn-primary {
    background-color: #9fb9c4;

    &:hover {
      background-color: $brown-grey;
    }
    &:active {
      background-color: $blue-shale;
    }
  }

  &.btn-selected {
    background-color: $brown-grey;
    padding: 10px;
    display: flex;
  }

  &.btn-warning {
    background-color: $medium-brick-red;
    color: $white;
  }

  .btn-selected {
    &-swap {
      width: 50%;
    }
  }

  &.add-to-cart {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .add-to-cart-text {
      padding: 10px 0;
      text-align: center;
      // text-align: right;
      width: 100%;
      position: relative;

      &:after {
        position: relative;
        top: 2px;
        padding-left: 10px;
        font-size: 18px;
        font-family: "Font Awesome 5 Pro";
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        display: inline-block;
        font-style: normal;
        font-variant: normal;
        text-rendering: auto;
        content: "\f055";
      }
    }

    .fa-plus-circle {
      position: absolute;
      width: 100%;
      text-align: left;
      font-size: 18px;
      padding: 10px 6px;
      &:before {
        visibility: hidden;
      }
    }

    .fa-minus-circle {
      text-align: right;
      width: 36%;
      font-size: 18px;
      padding: 10px 6px;
    }

    .hidden {
      display: none;
    }

    &.in-cart {
      background-color: $brown-grey;

      .add-to-cart-text {
        text-align: center;
        max-width: 85px;
        width: 28%;
        &:after {
          display: none;
        }
      }

      .fa-plus-circle {
        visibility: visible;
        position: static;
        text-align: left;
        width: 36%;
        &:before {
          visibility: visible;
          display: block;
        }
      }
    }
  }

  &.btn-separator {
    background-color: transparent;
    text-shadow: none;
    padding-left: 0;
    padding-right: 0;
    border: 0;
  }
}

.remove-from-cart {
  padding: 10px 6px;
  position: relative;
  width: 50%;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 2px;
    height: 14px;
    border-right: $white-border;
  }

  &:only-child {
    border-right: none;
    text-align: center;
    width: 100%;
  }
}

.swap-from-cart {
  padding: 10px 6px;
  color: $white;
  &:hover {
    color: $white;
    text-decoration: none;
  }
  &:only-child {
    width: 100%;
  }
}
