.btn {
  border-radius: 4px;
  // pointer-events: none;
  &.btn-lg {
    padding: 10px 34px;
    height: auto;
  }

  &-no-border {
    border: 0;
  }

  &.btn-primary {
    &:hover {
      background-color: $brown-grey;
    }
    &:active {
      background-color: $blue-shale;
    }
  }

  &.btn-selected {
    background-color: $brown-grey;
    padding: 10px;
    display: flex;
  }

  &.btn-warning {
    background-color: $medium-brick-red;
    color: $white;
  }

  .btn-selected {
    &-swap {
      width: 50%;
    }
  }

  &.add-to-cart {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &-text {
      width: 50%;
      text-align: right;
    }

    .fa-minus-circle {
      text-align: right;
      width: 36%;
      font-size: 18px;
      padding: 10px 6px;
    }

    .fa-plus-circle {
      width: 40%;
      text-align: left;
      font-size: 18px;
      padding: 10px 6px;
    }
    .hidden {
      display: none;
    }
    .add-to-cart-text {
      text-align: right;
      width: 60%;
    }
    &.in-cart {
      background-color: $brown-grey;
      .add-to-cart-text {
        text-align: center;
        width: 28%;
      }
      .fa-plus-circle {
        text-align: left;
        width: 36%;
      }
    }
  }
}

.remove-from-cart {
  padding: 10px 6px;
  position: relative;
  width: 50%;
  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 2px;
    height: 14px;
    border-right: 2px solid $white;
  }
  &:only-child {
    border-right: none;
    text-align: center;
    width: 100%;
  }
}

.swap-from-cart {
  padding: 10px 6px;
  &:only-child {
    width: 100%;
  }
}
