.footer {
  clear: both;
  padding: 0 34px 50px;
  border-top: $grey-border;
  background-color: $white;

  .max-width-xl {
    &.columns {
      margin-top: 90px;
      background-color: $white;
    }
  }

  .social-media-links {
    padding-top: 0;
    a {
      &:hover {}
    }
  }
  &-primary-items {
    margin: 0;
    padding: 0;
  }
  .col-3 {
    margin-bottom: 30px;
  }
  li {
    a {
      color: $grey;
      display: inline-block;
      font-size: 15px;
      &:hover {
        color: $blue-shale;
      }
    }
  }
}