.hero-title-copy {
  padding: $unit-12 20px;
  border-top: $grey-border;
  border-bottom: $grey-border;

  &:first-child {
    border-top: 0;
  }

  &-header {
    text-transform: uppercase;
  }

  &-copy {
    font-family: $sentinel;
    font-style: normal;
    font-weight: 400;
    margin: $unit-5 0 0;
  }
}
