.hero-title-copy {
  padding: 40px 20px 48px;
  border-top: $grey-border;
  border-bottom: $grey-border;
  &-header {
    text-transform: uppercase;
  }
  &-copy {
    font-family: $sentinel;
    font-style: normal;
    font-weight: 400;
  }
}
