.hero {
  &-home {
    &[style*="background-image"] {
      background-size: 100%;
      background-position-x: 50%;
      background-position-y: bottom;
      padding-top: 80px;

      img {
        visibility: hidden;
      }

      .hero-image-container {
        // padding-top: 0;
      }
    }

    .hero-header {
      @include knockout(75px, 400);
    }

    .hero-image {
      margin: 0 0 0 auto;
    }
  }
}
