.hero {
  &-home {
    &[style*="background-image"] {
      background-size: 66%;
      background-position: right bottom;
      padding-top: 80px;

      img {
        visibility: hidden;
      }

      .hero-image-container {
        padding-top: 82px;

        img {
        }
      }
    }

    .hero-header {
      @include knockout(75px, 400);
    }

    .hero-image {
      margin: 0 0 0 auto;
    }
  }
}
