.hero {
  text-align: center;
  color: $grey;
  padding: 150px 20px;

  &-help{
    text-align: left;
    padding: 0 0 $unit-14;
    margin-bottom: $unit-14;
    border-bottom: $grey-border;

    &-header  {
      color: $brown-grey;
      padding: 0;
    }

    &-copy {
      @include sentinel(24px, 400);
      line-height: normal;
      padding: $unit-8 0 0;
      margin: 0;
    }

    &-list {
      padding: $unit-2 0 0;

      li {
        padding: $unit-4 0 0;
      }

    }

  }

  &-header {
    color: $dark-grey;
    text-transform: uppercase;
    @include knockout(68px, 400);
  }

  &-sub-header {
    @include sentinel(16px, 400);
    letter-spacing: normal;
    padding: 0;
  }

  &-copy {
    padding: 20px 0 0;
    margin: 0;
  }

  &-shape {
    display: block;
  }

  &-image-container {
    position: relative;
    margin: 0 0 0 auto;
    padding-top: 45px;
    width: 100%;
  }

  &-image {
    display: block;
    margin: 0 auto;
    &.absolute {
      position: absolute;
    }
    &.bottom {
      bottom: 30px;
    }
    &.right {
      right: 10px;
    }
  }

  &-action-buttons {
    padding-top: 42px;
    max-width: 420px;
    margin: 0 auto;

    .btn {
      max-width: 192px;
      display: inline-block;
      margin: auto;
      padding-left: 0;
      padding-right: 0;
      &:first-child {
        // margin: 0 0 20px;
      }
    }
  }
}
