.hero-product {
  padding: 44px 20px;
  border-bottom: $grey-border;
  position: relative;

  a {
    color: inherit;
  }

  &-header {
    color: $brown-grey;
  }

  &-copy {
    color: $medium-grey;
  }

  &-price {
    color: $brown-grey;
    @include sentinel(22px, 400);
  }

  &-bag-link {
    display: flex;
    height: 100%;
    align-content: center;
    margin-top: 20px;
    position: relative;
  }

  &-bag-image {
    margin: 0 auto;
    align-self: center;
    display: block;
  }

  &-disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &-header {
      font-size: 75px;
    }
  }

  &-picked {
    &.btn {
      background-color: $brown-grey;
    }
  }

  &.disabled {
    background-color: rgba(255, 255, 255, 0.4);
    .columns {
      * {
        opacity: 0.5;
      }
    }
  }

  &-promo {
    @include knockout32(15px, 400);
    background-color: $brown-grey;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    padding: 20px 20px;
    > span {
      color: $white;
      max-width: 89px;
      display: block;
    }
  }
}
