.hero-product {
  padding: 44px 20px;
  border-bottom: $grey-border;
  position: relative;

  &-info-column {
    align-self: center;
  }

  a {
    color: inherit;
    position: relative;

    &[disabled="disabled"] {
      cursor: not-allowed;
      pointer-events: none;
      opacity: 1;
      &:hover {
        background-color: $primary-color;
      }
    }
  }

  > .columns {
    .column {
      position: relative;
    }
  }

  .btn {
    &-link {
      text-shadow: none;
      margin-top: $unit-2;
    }
  }

  &-header {
    color: $brown-grey;
    margin-bottom: $unit-2;
    position: relative;
    top: -10px;
    a {
      display: inline-block;
    }
  }

  &-copy {
    color: $medium-grey;
    line-height: 140%;
  }

  &-price {
    color: $brown-grey;
    @include knockout50($unit-10, 400);
    margin: 0;
  }

  &-callout {
    // @include knockout31(16px, 400);
    // letter-spacing: 0.5px;
  }

  &-bag-link {
    display: block;
    // height: 100%;
    align-content: center;
    position: relative;
    margin-top: 0;

    .hero {
      &-product {
        &-hover {
          &-details {
            background-color: map-get($rgba, grey);
            transition: opacity 0.2s ease-in-out;
            opacity: 0;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;

            color: $white;
            &:hover {
              opacity: 1;
              transition: opacity 0.2s ease-in-out;
            }
          }

          &-header {
            @include knockout32($unit-14, 400);
          }

          &-pre-text {
            color: $blue-shale;
          }

          &-offer {
            @include border("top", $white, 1px);
            width: auto;
            padding: $unit-2 $unit-8;
            display: inline-flex;
            justify-content: center;
            align-items: center;
          }

          &-copy {
            display: inline-flex;
            justify-content: center;
            align-items: center;

            strong {
              font-size: 40px;
              padding: 0 $unit-2;
            }
          }

          &-disclaimer {
            font-size: 12px;
            padding-top: $unit-8;
          }
        }
      }
    }
  }

  &-kit-link {
    &.hero-product-bag-link {
      position: absolute;
    }

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &:hover {
      .hero {
        &-product-hover-details {
          opacity: 1;
        }
      }
    }

    .hero {
      &-product-hover-details {
        background-color: map-get($rgba, grey);
        padding: $unit-8;

        &:hover {
          opacity: 1;
        }

        h2 {
          @include knockout($unit-12, 300);
          @include border(bottom, $white, 1px);
          padding: 0 0 $unit-2;
          margin: 0 0 $unit-10;
          width: 100%;
        }

        .count {
          font-size: 12px;

          &:before {
            @include sentinel($unit-4, 300);
            content: "1";
            width: 20px;
            display: inline-block;
          }
        }
      }
    }
  }

  &-bag-image {
    &[src=""] {
      background-color: $light-grey;
      height: 100%;
      width: 100%;
      &:after {
        content: "IMAGE NOT AVAILABLE";
        text-align: center;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 0;
        width: 100%;
      }
    }
    margin: 0 auto;
    align-self: center;
    display: block;
  }

  &-disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &-header {
      font-size: 75px;
    }
  }

  &-picked {
    &.btn {
      background-color: $brown-grey;
    }
  }

  .btn {
    padding: $unit-2 $unit-7;
  }

  &.disabled {
    background-color: rgba(255, 255, 255, 0.4);
    .columns {
      * {
        opacity: 0.5;
      }
    }
  }

  &-promo {
    @include knockout32(15px, 400);
    background-color: $brown-grey;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 50%;
    padding: 20px 20px;
    > span {
      color: $white;
      max-width: 89px;
      display: block;
    }
  }
}
