.hero {
  text-align: center;
  color: $grey;
  padding: 100px 20px 200px;

  &-header {
    color: $dark-grey;
    text-transform: uppercase;
    @include knockout(50px, 400);
  }

  &-sub-header {
    @include sentinel(16px, 400);
    letter-spacing: normal;
    padding: 0 0 $unit-2;
  }

  &-copy {
    padding: 20px 0 0;
    margin: 0;
  }

  &-shape {
    display: block;
  }

  &-image-container {
    position: relative;
    margin: 0 0 0 auto;
    padding-top: 45px;
    width: 100%;
  }

  &-image {
    display: block;
    margin: 0 auto;
    &.absolute {
      position: absolute;
    }
    &.bottom {
      bottom: 30px;
    }
    &.right {
      right: 10px;
    }
  }

  &-action-buttons {
    padding-top: 42px;

    .btn {
      max-width: 192px;
      display: inline-block;
      margin: auto;
      padding-left: 0;
      padding-right: 0;
      &:first-child {
        // margin: 0 0 20px;
      }
    }
  }
}
