body {
  position: relative;
  padding-top: 52px;
  outline: none;
}

#content {
  margin-left: auto;
  margin-right: auto;
  padding-left: $unit-1;
  padding-right: $unit-1;
  width: 100%;
  outline: none;
}

#main,
#primary {
  outline: none;
}

.page-template {
  padding-top: 52px;
}
