@mixin sentinel($size, $weight) {
  font-family: $sentinel;
  font-size: $size;
  font-weight: $weight;
  font-style: normal;
}

@mixin knockout($size, $weight) {
  font-family: $knockout;
  font-size: $size;
  font-weight: $weight;
  font-style: normal;
}

@mixin knockout32($size, $weight) {
  font-family: $knockout32;
  font-size: $size;
  font-weight: $weight;
  font-style: normal;
}

@mixin knockout31($size, $weight) {
  font-family: $knockout31;
  font-size: $size;
  font-weight: $weight;
  font-style: normal;
}
