.navbar {
  padding: 10px;
  z-index: 100;

  &-product-name {
    @include knockout32(14px, 400);
    color: $white;
    margin: 0;
  }

  &-remove-item {
    cursor: pointer;
    position: relative;
    bottom: 2px;
    > i {
      font-size: 22px;
      color: $red;
    }
  }

  &-edit-item {
    cursor: pointer;
    position: relative;
    bottom: 4px;
    margin-right: 26px;
    &:hover {
      text-decoration: none;
    }
    > i {
      font-size: 18px;
      color: $white;
    }
  }

  &-toggle {
    > i {
      padding: 4px 6px;
      cursor: pointer;
    }
    .fa-bars {
      &:before {
        font-size: 22px;
      }
    }
    .fa-search {
      &:before {
        font-size: 22px;
      }
    }
  }

  &-dropdown {
    animation-duration: 0.3s;
    animation-fill-mode: both;
    background-color: $brown-grey;
    transform: translate3d(0, -110%, 0);
    box-shadow: 0 -20px 27px 20px rgba(3, 3, 3, 0.8);

    box-sizing: border-box;
    width: 100%;
    padding: 40px 40px 60px 60px;
    z-index: 100;
    position: absolute;
    top: 0;
    left: 0;

    .column {
      > a {
        display: inline-block;
      }
    }

    &.active {
      animation-name: fadeInDown;
      display: block;
    }

    &-exit {
      cursor: pointer;
      position: absolute;
      left: 10px;
      top: 10px;
      padding: 10px;

      color: $white;
      &:before {
        font-size: 25px;
        color: $white;
      }
    }

    &-primary-items {
      margin-bottom: 30px;
      @include knockout(50px, 400);
      text-transform: uppercase;
      letter-spacing: 1.5px;

      a {
        color: $white;
        &:hover {
          text-decoration: none;
          color: $blue-shale;
        }
      }
    }
  }

  &-item-counter {
    position: relative;
    z-index: 1;
    display: inline-block;
    font-size: 20px;
    &:hover {
      cursor: pointer;
    }
  }

  &-section {
    &-cart {
      position: relative;
      cursor: pointer;
      display: block;
      z-index: 10;

      .fa-suitcase {
        color: $brown-grey;
      }
    }
    &-account {
      color: $brown-grey;
      &:visited {
        color: $brown-grey;
      }
    }
    .columns {
    }
    .column {
      padding: 0 14px;
      &:last-child {
        padding-left: 7px;
      }
    }
  }

  &-bag {
    user-select: none;
    border-radius: 4px;
    background-color: $brown-grey;
    padding: 20px;
    position: absolute;
    top: 30px;
    right: 0;
    width: 312px;
    color: $white;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 20px;
      width: 0;
      height: 0;
      border: 10px solid transparent;
      border-bottom-color: $brown-grey;
      border-top: 0;
      margin-left: -10px;
      margin-top: -10px;
    }
    &-empty {
      @include knockout32(18px, 400);
      padding: 0 0 20px;
    }
    &-container {
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
      transform: translate3d(0, -800px, 0);
      opacity: 0;

      &.active {
        opacity: 1;
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
        transform: translate3d(0, 0, 0);
      }
    }
    &-list {
      &-container {
        max-height: 300px;
        overflow-y: scroll;
        margin-bottom: 10px;
      }
    }

    &-item {
      text-transform: capitalize;
      border-bottom: $cart-border;
      padding: 18px 10px 12px 0;
    }
  }

  &-login {
    @include knockout32(14px, 400);
    display: inline-block;
    padding: 20px 0 0;
    color: $grey;
  }

  .fa-suitcase {
    &:before {
      font-size: 30px;
    }
  }
}
