.benlido {
  &-compact-product {

    &-instruction-header {
      @include knockout32(15px, 300);
      padding: 0 0 $unit-8;
      letter-spacing: -.5px;
      text-align: center;

      > strong {
        @include knockout50($unit-5, 300);
        letter-spacing: normal;
      }

    }

    &-list {
      padding: $unit-10 $unit-10 0;
      margin: 0 auto;
      position: relative;
      overflow: hidden;

      .swiper-button-next,
      .swiper-button-prev {
        background: none !important;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 3;

        &.swiper-button-disabled {
          pointer-events: auto;
        }
        > i {
          font-size: $unit-6;
        }

        &:hover {
          cursor: pointer;
        }
      }

      .hero {

        &-product {
          text-align: center;

          &-header {
            @include knockout($unit-8, 300);
            top: auto;
            padding: $unit-4 0 0;
            text-align: center;

            a {
              color: $brown-grey;
            }
          }

          &-price {
            @include knockout($unit-8, 300);
            text-align: center;
          }

          &-copy {
            text-align: center;
            margin-bottom: $unit-10;
          }

          &-swatch{
            &-count {
              color: $grey;
              text-align: center;
              padding: 0 0 $unit-1;
              margin: 0;
            }
          }

          &-separator {
            color: $grey;
          }

          &-bag {
            &-image {

              &-container {
                position: relative;

                img {
                  margin: 0 auto;
                }
              }

              &[src=""] {
                background-color: $light-grey;
                height: 100%;
                width: 100%;

                &:after {
                  content: "IMAGE NOT AVAILABLE";
                  text-align: center;
                  position: absolute;
                  top: 50%;
                  transform: translate(0, -50%);
                  left: 0;
                  width: 100%;
                }
              }
            }
          }

        }

      }

      .promo-text {
        @include knockout50($unit-6, 300);
        padding: $unit-2 0 0;
        display: inline-block;
        color: $brick-red;
        text-align: left;
      }

      .swiper-container {
        position: static;
        padding: 0 0 $unit-14;
      }

      .swiper-wrapper {
        display: flex;
        position: static;
        box-sizing: border-box;
        align-items: center;
      }

      .swiper-slide-visible {
        @include border(right, $light-grey, 1px);
      }

      .swiper-slide {
        cursor: pointer;
      }

      .swiper-slide-next {
        // border-right: 0;
      }

      .benlido-active-slide {
        position: relative;

        &::after {
          @include border(top, $light-grey, 1px);
          content: ' ';
          display: block;
          // width: 20px;
          width: 100%;

          height: 1px;
          margin: 0 auto;
          padding: 0;
          text-align: center;
          font-family: 'Font Awesome 5 Pro';
          font-weight: 900;
          background-color: $white;
          position: absolute;
          bottom: -34px;

          left: 0;
          right: 0;
          z-index: 100;
        }

      }

      .centered {
        text-align: center;
      }

      .btn-primary {
        // margin: $unit-5 auto 0;
        box-sizing: border-box;
      }

      &-item {
        // @include border(right, $light-grey, 1px);
        text-align: center;
        padding-right: 10px;
        width: 100%;

        &:last-child {
          border: none;
        }


      }

      &-no-item {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // height: 100% !important;

        img {
          padding: 0 $unit-4;
        }
        .fa-ban {
          color: $red;
          opacity: .2;
        }
      }

      &-actions{
        align-items: center;
      }

      &-detail {
        // padding: 0 $unit-2;
        transition: max-height .3s ease-in-out;
        max-height: 0;
        padding: 0 $unit-2;

        &.active {
          @include border(bottom, $light-grey, 1px);
          // @include border(top, $light-grey, 1px);
          transition: max-height .3s ease-in-out;
          max-height: 3000px;
        }

        .hero {
          &-product {

            &-header {
              @include knockout($unit-18, 300);
              text-align: center;
              padding: 0 $unit-2 $unit-6;
            }

            &-price {
              @include knockout50($unit-10, 300);
              display: flex;
              align-items: center;
              text-align: right;
              box-sizing: border-box;

              > span {
                padding: 0 $unit-5 0 0;
                box-sizing: border-box;
                width: 100%;
              }
            }

            &-bag-image{
              &-container {
                // display: inline-flex;
                // align-self: center;
                height: 100%;
                padding: 0;
              }
            }
          }
        }

        .swiper-container {
          padding: $unit-10 0;
        }

        .swiper-slide-active {
          &::before{
            display: none;
          }

          &::after{
            display: none;
          }
        }

      }

    }

    &-options {
      z-index: 2;


      .swiper-slide {
        // opacity: .3;
      }

      .benlido-active-slide {
        opacity: 1;
      }

      .swiper-container {
        // padding-bottom: 0;
      }
    }

    &-styles-list {
      max-height: 0;
      transition: max-height .3s ease-in-out;
      padding: 0 $unit-10;

      &.active {
        @include border(bottom, $light-grey, 1px);
        @include border(top, $light-grey, 1px);
        max-height: 1000px;
        padding: $unit-10 $unit-10 0;
        transition: max-height .3s ease-in-out;
      }

      .swiper-slide {
        padding: 0 $unit-6;
      }

      .hero {
        &-product {
          &-bag {
            &-image {
              max-width: 60%;
            }
          }
        }
      }

      &-detail {
        max-height: 0;
        transition: max-height .3s ease-in-out;
        padding: 0 $unit-10;
        overflow: hidden;

        &.active {
          max-height: 1000px;
          padding: $unit-10 $unit-10 0;
          transition: max-height .3s ease-in-out;
        }

        .hero {
          &-product {

            &-header {
              @include knockout($unit-18, 300);
              text-align: center;
              padding: 0 $unit-2 $unit-6;
            }

            &-price {
              @include knockout32($unit-6, 300);
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: right;
              box-sizing: border-box;
              color: $grey;
              padding: $unit-2 0;

              > span {
                @include knockout50($unit-12, 300);
                color: $brown-grey;
                padding: 0 $unit-2;
                box-sizing: border-box;
              }

              .promo-text {
                @include knockout32($unit-5, 300);
                line-height: 100%;
                padding: $unit-2 0;
                display: inline-block;
                color: $brick-red;
                text-align: left;
                max-width: 150px;
              }

            }

            &-bag-image{
              &-container {
                // display: inline-flex;
                // align-self: center;
                height: 100%;
                padding: 0;
              }
            }
          }
        }

      }

    }

  }
}

@media (min-width: $size-xs) {
  .benlido {
    &-compact-product {
      &-list {
        &-item {
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: $size-sm) {
  .benlido {
    &-compact-product {
      &-list {
        &-item {
          width: 25%;
        }
      }
    }
  }
}

@media (min-width: $size-lg) {
  .benlido {
    &-compact-product {
      &-list {
        &-item {
          width: 20%;
        }
      }
    }
  }
}
