.product {
  &-tile {
    height: 100%;
    padding: 20px;
    border: $grey-border;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    width: 100%;

    &:hover {
      .product-tile-image,
      .product-tile-price,
      .product-tile-description {
        transition: opacity 0.2s ease-in-out;
        opacity: 0.5;
      }

      .product-tile-hover {
        transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
        opacity: 1;
        transform: translate3d(0, -100%, 0);
      }
    }

    &-column {
      // margin-bottom: $unit-6;
      padding-left: $unit-1;
      padding-right: $unit-1;
      margin-top: $unit-6;

      &:first-child {
      }

      ul,
      li {
        height: 100%;
      }
    }

    &-link {
      position: relative;
      display: block;
      margin: 0 auto;
    }

    &-image {
      transition: opacity 0.2s ease-in-out;
      display: block;
      margin: 0 auto;
      width: auto;
    }

    &-hover {
      @include knockout(35px, 400);
      transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
      transform: translate3d(0, 50%, 0);
      opacity: 0;
      position: absolute;
      bottom: 40px;
      left: 0;
      width: 100%;
      text-align: center;
      color: $brown-grey;
    }

    &-header {
      @include sentinel(16px, 300);
      margin: 0 0 $unit-4;
    }

    &-sub-header {
      @include sentinel(14px, 300);
      color: $medium-grey;
      padding: 10px 0 0;
    }

    &-price {
      @include sentinel(22px, 300);
      transition: opacity 0.2s ease-in-out;
    }

    &-description {
      @include knockout32(14px, 400);
      transition: opacity 0.2s ease-in-out;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      margin: 8px 0;
    }

    &-empty-product {
      &-add {
        color: $medium-grey;
        padding: 0 0 10px;

        .fal {
          font-size: 102px;
        }
      }

      .product-tile {
        justify-content: center;
        border: 0;

        &-link {
          min-height: 0;
        }

        &-header {
          display: block;
          letter-spacing: normal;
          line-height: 140%;
          @include sentinel(16px, 300);
        }

        &-sub-header {
          display: none;
          @include knockout32(14px, 400);
          letter-spacing: normal;
          padding-bottom: 30px;
        }
      }

      .btn-primary {
        padding: 10px 6px;
        margin-top: auto;
        position: relative;
      }
    }

    .btn {
      @include knockout32(15px, 400);
      padding: 0;
      margin-top: auto;
    }
  }
}

html {
  &[data-navigator-platform*="benlido-windows-platform"] {
    .woocommerce {
      &-Price-amount {
        &.amount {
          font-weight: 500;
        }
      }
    }
  }
}
