.product {
  &-description {
    &-header {
      @include sentinel(25px, 400);
      color: $medium-grey;
      margin: 0 auto 34px;
    }
  }
}

.single-product {
  .summary {
    .disclaimer {
      font-size: 12px;
      margin-top:50px;
      color: $medium-grey;
    }
  }
}
