.product {
  &-description {
    &-header {
      @include sentinel(25px, 300);
      color: $medium-grey;
      margin: 0 auto 34px;
    }
  }
}

.single-product {
  .summary {
    .description {
      ul {
        list-style: disc inside;
      }
    }
    .disclaimer {
      font-size: 10px;
      margin-top: 50px;
      color: $medium-grey;
    }
  }
}
