.benlido-search {
  &-container {
    transform: translate3d(0, -110%, 0);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    padding: 80px 40px 40px;
    margin: 0;
    background-color: $brown-grey;
    box-sizing: border-box;

    button {
      background-color: transparent;
      border: 0;
    }

    .fa-search {
      color: $white;
      font-size: 22px;
      cursor: pointer;
    }
  }
  &-label {
    @include sentinel(40px, 400);
    margin-bottom: 40px;
    color: $white;
  }

  &-input {
    @include knockout32(22px, 400);
    color: $white;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid $white;
    box-shadow: none;
    display: block;
    &:focus,
    &:active {
      box-shadow: none;
    }
  }
}
