.shop-landing-featured {
  padding-bottom: 20px;
  &-products {
    .columns {
      ul {
        &.columns {
          width: 100%;
        }
      }
    }
  }
  &-header {
    @include sentinel(18px, 400);
    // text-align: center;
    color: $medium-grey;
    margin-top: 30px;
    padding-bottom: 20px;
  }

  &-view-all {
    border-bottom: $grey-border;

    &:last-child {
      border-bottom: 0;
    }

    .btn {
      display: inline-block;
      min-width: 200px;
      padding: 14px 34px;
      margin-top: 30px;
      margin-bottom: 30px;
      color: $primary-color;
      text-shadow: none;
    }
  }
}

.post-type-archive {
  .shop-landing-featured {
    padding-bottom: 0;
  }
}

.tax-product_cat {
  .shop-landing-featured {
    padding-bottom: 30px;
  }
}
