.shop-landing-featured {
  padding-bottom: 20px;

  &-header {
    a {
      color: inherit;
    }
  }

  &-products {
    > .columns {
      padding-left: $unit-1;
      padding-right: $unit-1;

      .columns {
        margin-left: 0;
        margin-right: 0;
      }
    }

    .product-tile {
      border: $grey-border;
      border-radius: 4px;

      &-column {
        &:nth-last-child(-n + 2) {
          .product-tile {
            border: $grey-border;
            border-radius: 4px;
          }
        }
      }
    }

    .columns {
      ul {
        &.columns {
          width: 100%;
        }
      }
    }
  }

  &-header {
    // @include sentinel(18px, 300);
    @include knockout50($unit-8, 400);
    // text-align: center;
    letter-spacing: normal;
    color: $comet;
    text-align: center;
    padding: $unit-8 0 $unit-1;

    .fal {
      padding-left: $unit-2;
      &:before {
        font-size: $unit-6;
      }
    }
  }

  &-view-all {
    border-bottom: $grey-border;

    &:last-child {
      border-bottom: 0;
    }

    .btn {
      display: inline-block;
      min-width: 200px;
      padding: 14px 34px;
      margin-top: $unit-6;
      margin-bottom: $unit-6;
      color: $primary-color;
      text-shadow: none;
    }
  }
}

.post-type-archive {
  .shop-landing-featured {
    padding-bottom: 0;
  }
}

.tax-product_cat {
  .shop-landing-featured {
    padding-bottom: 30px;
  }
}
