.step-navigation {
  padding: 18px 10px;
  border-bottom: $grey-border;

  &-text {
    vertical-align: super;
    color: $medium-grey;
    &-back {
      font-weight: normal;
      position: absolute;
      bottom: -10px;
      left: 0;
      font-size: 11px;
      display: block;
      width: 55px;
    }
    &-next {
      font-weight: normal;
      position: absolute;
      bottom: -10px;
      right: 0;
      font-size: 11px;
      display: block;
      width: 55px;
    }
  }
  &-current {
    color: $medium-grey;
    padding: 8px 0;
    vertical-align: super;
    font-family: $sentinel;
    font-style: normal;
    font-weight: 400;
  }

  .btn {
    &-no-border {
      position: relative;
      .step-navigation-text {
        font-size: 16px;
      }
    }
    &-lg {
      padding: 6px 16px;
    }
    &-primary {
      .step-navigation-text {
        text-align: left;
        font-family: $knockout32;
        color: $white;
      }
    }
  }

  .fal {
    font-size: 25px;
  }

  .text-right {
    .fal {
      padding-left: 46px;
    }
  }
}
