.step-navigation {
  // padding: 18px 0;
  &-wrapper {
  }

  &-text {
    vertical-align: super;
    color: $medium-grey;
    &-back {
      font-weight: normal;
      position: absolute;
      bottom: -10px;
      left: 0;
      font-size: 11px;
      display: block;
      width: 55px;
    }
    &-next {
      position: relative;
      bottom: 4px;
      padding-right: 12px;
    }

    .fa-chevron-circle-right {
      padding-right: 8px;
    }
  }
  &-current {
    color: $medium-grey;
    padding: 0;
    vertical-align: super;
    @include sentinel(24px, 300);
  }

  .btn {
    &-no-border {
      text-shadow: none;
      position: relative;
      .step-navigation-text {
        font-size: 16px;
      }
    }
    &-lg {
      padding: 6px 16px;
    }
    &-primary {
      .step-navigation-text {
        text-align: left;
        font-family: $knockout32;
        color: $white;
      }
    }
  }

  .fal {
    font-size: 25px;
  }

  .text-right {
  }
}

.single-product {
  &.single {
    &.single-product {
      .step-navigation {
        &-wrapper {
          margin-bottom: $unit-3;
          padding: 4px 0;
        }
      }
    }
  }
}

.archive {
  &.post-type-archive {
    .step-navigation {
      &-wrapper {
        padding: 8px 0;
        border-bottom: 0;
      }
    }
  }
}

.archive {
  &.tax-product_cat {
    .step-navigation {
      &-wrapper {
        padding: 8px 0;
        border-bottom: 0;
      }
    }
  }
}

.page-template {
  &.page-template-page-about {
    .step-navigation {
      &-wrapper {
        padding: 8px 0;
        border-bottom: 0;
      }
    }
  }
}

.page-template {
  &-default {
    &.page {
      .step-navigation {
        &-wrapper {
          padding: 8px 0;
          border-bottom: 0;
        }
      }
    }
  }
}

.page-template {
  &.page-template-page-about {
    .benlido-header {
      border-bottom: 0;
    }
  }
}

/*
  For any future Front-end Developer working on this: This is a result of being forced into reactionary changes with very little time to executure.
  Throw in the lack of flexibility of Wordpress/Woocommerce templating and you get this type of crap
*/
