.single-product {
  .variations_form {
    flex-wrap: wrap;
    .variations {
      width: 100%;
    }
  }
}

.bl {
  &-add-bag-product {
    &.changed {
      background-color: $brown-grey;

      &:hover {
        background-color: $blue-shale;
      }
    }
  }

  &-product-swatches {
    margin: 20px auto;
    justify-content: center;
    align-items: center;
    padding: 0;

    &-container {
      display: flex;
    }

    &-header {
      margin: 0;
      padding: 0 $unit-2 0 0;
    }

    .swatch {
      &-wrapper {
        transition: padding 0.1s ease-in-out;
        background-color: transparent;
        max-width: 42px;
        margin: 0 $unit-1;
        padding: $unit-1;
        border: none;
        float: none;

        &.selected {
          transition: padding 0.1s ease-in-out;
          padding: 0;
          border: 0;
        }
      }

      &-color {
        display: block;
      }
    }
  }
}

.swatch-anchor {
  border: $grey-border;
  border-radius: 50%;
  padding: 4px;
  transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;

  &:hover,
  &.selected {
    cursor: pointer;
    border-color: $medium-grey;
    box-shadow: 0 0 14px rgba(3, 3, 3, 0.2);
    transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
  }

  img {
    border-radius: 50%;
    display: block;
    width: auto;
    height: auto;
  }
}

.swatch-control {
  justify-content: left;
  align-items: center;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  .select-option {
    border: 0;

    // &.selected {
    //   border: 0;
    //   padding: 0;
    // }
  }

  .swatch {
    &-anchor {
      display: block;
      width: 100% !important;
      max-width: 80% !important;
      height: auto !important;
      margin: $unit-2 auto;
    }

    &-wrapper {
      background-color: transparent;
      border: 0;

      width: auto;
      border: none;
      float: none;
      margin: 0 auto;
      padding: 0;
      transition: padding 0.1s ease-in-out, width 0.1s ease-in-out;

      &.selected {
        transition: padding 0.1s ease-in-out, width 0.1s ease-in-out;
        border: 0;
        padding: 0;

        > a {
          max-width: 100% !important;
        }
      }

      img {
        width: 100% !important;
      }
    }
  }
}
