.single-product {
  .variations_form {
    flex-wrap: wrap;
    .variations {
      width: 100%;
    }
  }
}

.bl-product-swatches {
  padding: 0;
  margin: 20px auto;
  max-width: 150px;
}

.bl-add-bag-product {
  &.selected {
    background-color: $blumine;
    &:hover {
      background-color: $blumine;
    }
  }
}

.swatch {
  &-wrapper {
    max-width: 70px;
    border: none;
    float: none;
    margin: 0;

    &.selected {
      background-color: #000;
    }
  }

  &-color {
    display: block;
  }
}

.swatch-anchor {
  border: $grey-border;
  border-radius: 50%;
  padding: 6px;
  transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;

  &:hover,
  &.selected {
    cursor: pointer;
    border-color: $medium-grey;
    box-shadow: 0 0 14px rgba(3, 3, 3, 0.2);
    transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
  }

  img {
    border-radius: 50%;
    display: block;
  }
}
