html,
body {
  @include knockout32(15px, 400);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @include knockout(50px, 400);
  margin: 0;
}

h1 {
  letter-spacing: 1.5px;
  font-size: 75px;
}

p {
  color: $medium-grey;
}
