.max-width {
  
  &-xl {
  max-width: $size-xl;
  margin: 0 auto;
  }
  
  &-lg {
    max-width: $size-lg;
    margin: 0 auto;
  }
  
  &-md {
    max-width: $size-md;
    margin: 0 auto;
  }

  &-sm {
    max-width: $size-sm;
    margin: 0 auto;
  }

}

.bg {
  &-white {
    background-color: $white;
  }
  
  &-grey {
    background-color: $silver-white;
  }
}


.triangle-background {
  background-image: url(/images/triangle.svg);
  background-position: 100% bottom;
  background-repeat: no-repeat;
  box-sizing: border-box;
  background-size: 103%;
}

.border{
  &-top-grey {
    border-top: $grey-border;
  }
  &-bottom-grey {
    border-bottom: $grey-border;
  }
}


.position-relative {
  position: relative;
}
