// Greys
$grey: #979797;
$light-grey: #e4e4e4;
$medium-grey: #999999;
$brown-grey: #393d5b;
$dark-grey: #404953;

// Reds
$brick-red: #c08059;
$medium-brick-red: #bc804e;
$light-brick-red: #d4c1ba;

// Whites
$white: #fff;
$silver-white: #f7f7f7;

// Blacks
$black: #000;

// Oranges

// Blues
$blue-shale: #bacdd4;
$sky-blue: #e4f1fd;
$blumine: #195675;

$primary-color: $blue-shale !default;
$size-xl: 1200px !default;
// $primary-color-dark: darken($primary-color, 3%) !default;
// $primary-color-light: lighten($primary-color, 3%) !default;
// $secondary-color: lighten($primary-color, 37.5%) !default;
// $secondary-color-dark: darken($secondary-color, 3%) !default;
// $secondary-color-light: lighten($secondary-color, 3%) !default;

// Typography
$knockout: "Knockout 47 A", "Knockout 47 B";
$knockout32: "Knockout 32 A", "Knockout 32 B";
$knockoutSSmA: "Sentinel SSm A", "Sentinel SSm B";
$sentinel: "Sentinel SSm A", "Sentinel SSm B";
