.product {
  .woocommerce-tabs {
    display: none;
  }

  .woocommerce-product-gallery {
  }

  .woocommerce-product-gallery__image {
    > a {
      text-align: center;
      display: block;
      margin: 0 auto;
    }
  }
}
