@media (max-width: $size-md) {

  .product {

    &-tile {
      border: 0;
      border-bottom: $grey-border;
      border-radius: 0;
      padding: $unit-10 $unit-2;

      text-align: center;

      &:hover {
        .product-tile-hover {
          transform: translate3d(0, 0, 0);
        }
      }

      &-link {
        display: inline-block;
        min-height: 0;
      }

      &-empty-product {
        .product-tile {
          border-bottom: $grey-border;
        }
      }

      &-column {
        margin-top: 0;

        &:nth-last-child(-n+2) {
          .product-tile {
            border: 0;
          }
        }

      }

    }

    .summary {
      &.entry-summary {
        .price {
          width: 35%;
          // text-align: right;
          padding-right: 20px;
        }
      }
    }
    .cart {
      width: 50%;
    }
  }
}

@media (max-width: $size-sm) {
  .product {
    .summary {
      &.entry-summary {
        .price {
          width: 25%;
          // text-align: right;
          padding-right: 20px;
        }
        .button {
          width: 100%;
        }
      }
    }
    .cart {
      width: 65%;
    }
  }
}
