@media (max-width: $woo-lg) {
  .woocommerce-cart {
    .shop_table {
      thead {
        tr {
          display: flex;
          flex-direction: row;
        }
        th {
          display: block;
          flex-grow: 1;
        }
      }

      tbody {
        .cart_item {
          width: 100%;
          border-bottom: $grey-border;
          justify-content: space-between;
          flex-wrap: wrap;
          display: flex;
          flex-grow: 1;
          padding: $unit-10 0;

          td {
            border-bottom: none;
            text-align: center;
            display: block;

            &:before {
              text-align: center;
              width: 100%;
              color: $blumine;
            }
          }

          .product {
            &-remove {
              align-self: center;
              .remove {
                position: relative;
                top: auto;
                right: auto;
                &:before {
                  line-height: normal;
                }
              }
            }
            &-thumbnail {
              align-self: center;
              width: 20%;
            }
            &-name {
              text-align: left;
              width: 25%;

              &:before {
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $size-sm) {
  .woocommerce-cart {
    .shop_table {
      tbody {
        .cart_item {
          position: relative;

          .product {
            &-remove {
              position: absolute;
              top: 20px;
              left: 0;
              width: 10%;
            }
            &-thumbnail {
              width: 100%;
              padding: $unit-4 0;

              img {
                max-width: 120px;
              }
            }

            &-name {
              width: 100%;
            }

            &-price {
              text-align: left;
              width: 20%;
              &:before {
                text-align: left;
              }
            }

            &-quantity {
              width: 20%;
              .input-text {
                padding-left: $unit-5;
                text-align: center;
              }
            }

            &-subtotal {
              width: 20%;
            }
          }
        }
      }
    }
  }
}
