@media (max-width: 760px) {
  .woocommerce {
    
    &-order {
      .woocommerce {
        &-thankyou-order-details {
          > li {
            width: 100%;
          }
        }
      }
    }

    &-orders {
      .woocommerce {
        &-orders-table {

          tbody {

            tr {
              display: block;
              border-bottom: $grey-border;
              &:last-child {
                border-bottom: 0;
              }
            }
            
            td {
              text-align: left;
            }

            .view {
              text-align: left;
              display: inline;
              width: auto;
            }

          }

          &__cell {
            &:before {
              padding-right: 20px;
            }
          }

          .amount {
            display: inline;
          }

        }
      }

    }

  }
}
