<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta httpequiv="x-ua-compatible" content="ie=edge">
    <title>
      Ben Lido - You're good to go! Adventure...on.</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="You're good to go with Ben Lido. Your favorite brands, in the right sizes, at the best prices - delivered to your door, ready to travel.">
    <meta name="apple-mobile-web-app-title" content="Ben Lido">
    <meta name="application-name" content="Ben Lido">
    <meta name="theme-color" content="#fbfafa">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@benlido">
    <meta name="twitter:url" property="og:url" content=")">
    <meta property="og:title" content="You're good to go with Ben Lido.">
    <meta name="twitter:description" property="og:description" content="You're good to go with Ben Lido. Your favorite brands, in the right sizes, at the best prices - delivered to your door, ready to travel.">
    <meta name="twitter:image" property="og:image" content="">
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7086216/6631592/css/fonts.css"/>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css"/>
  </head>
  <body>

    <div class="container">
      {% include 'common/header.twig' %}

      {% block content %}{% endblock %}

      <i id="dimmed-overlay" class="dimmed-overlay"></i>

      {% include 'common/footer.twig' %}
    </div>
    <script type="text/javascript" src="/javascript/main.js"></script>
  </body>
</html>